<div *ngIf="teams.length" class="d-flex flex-wrap justify-content-center">
   <div *ngFor="let team of teams" class="p-1">
      <button
         type="button"
         (click)="clickOnTeamButton(team.id)"
         class="btn pl-2 pr-2"
         [ngClass]="{ 'btn-primary': isTeamSelected(team.id), 'btn-outline-primary': !isTeamSelected(team.id) }"
      >
         <app-team-logo [team]="team" [showTooltip]="false"></app-team-logo>
      </button>
   </div>
</div>
<ng-container *ngIf="topScorersRating.length">
   <div class="row mt-2">
      <div class="col-12">
         <h4>Рейтинг бомбардирів</h4>
      </div>
   </div>
</ng-container>
<app-team-scorers-rating [scorers]="topScorersRatingAll"></app-team-scorers-rating>
<ng-container *ngIf="goalkeepersRating.length">
   <div class="row mt-2">
      <div class="col-12">
         <h4>Рейтинг воротарів</h4>
      </div>
   </div>
</ng-container>
<app-team-goalkeepers-rating [goalkeepers]="goalkeepersRatingAll"></app-team-goalkeepers-rating>
<app-info *ngIf="!teamRatingUser.length" [message]="'Рейтинг гравців не знайдено'"></app-info>
