<div class="container">
   <div class="row">
      <div class="col">
         <h4>Всі новини</h4>
      </div>
   </div>
   <!-- news -->
   <div *ngIf="news" class="row">
      <div class="col p-0">
         <ul class="list-news">
            <li *ngFor="let one of news" class="card-news shadow">
               <p class="list-group-item m-0">Категорія: {{ one.tournament ? one.tournament.title : 'Інше' }}</p>
               <div class="wrapper-news">
                  <img class="img-news" src="{{ newsImagesUrl }}/{{ one.image }}" alt="{{ one.title }}" />
                  <h4 class="header-news m-0">{{ one.title }}</h4>
                  <div>
                     <a routerLink="/news/{{ one.id }}" class="btn btn-outline-primary">Читати далі</a>
                     <p class="card-text">
                        <small class="text-muted">{{ one.created_at | time: 'fromNow' }}</small>
                     </p>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <app-pagination
      *ngIf="paginationData"
      [totalItems]="paginationData.total"
      [currentPage]="paginationData.currentPage"
      [pageSize]="paginationData.pageSize"
      [path]="path"
   >
   </app-pagination>
</div>
