<div class="row mb-2">
   <div class="col-12 col-md-7 col-lg-6 d-flex align-items-center">
      <h4>Рейтинг групи</h4>
   </div>
   <div class="col-12 col-md-5 col-lg-6 d-flex align-items-center">
      <div *ngIf="groupNumbers" class="input-group input-group-sm mb-2 mb-md-0">
         <div class="input-group-prepend">
            <button
               (click)="previousGroup()"
               type="button"
               class="btn btn-outline-primary"
               [ngClass]="isFirstGroup(groupNumber) ? 'btn-outline-secondary' : 'btn-outline-primary'"
               [disabled]="isFirstGroup(groupNumber)"
            >
               <i class="fa fa-caret-left" aria-hidden="true"></i>
            </button>
         </div>
         <select
            id="cup-group-select"
            class="custom-select form-control-sm"
            [(ngModel)]="groupNumber"
            (ngModelChange)="navigateToGroup($event)"
         >
            <option *ngFor="let group of groupNumbers" [ngValue]="group">Група {{ group }}</option>
         </select>
         <div class="input-group-append">
            <button
               (click)="nextGroup()"
               type="button"
               class="btn"
               [ngClass]="isLastGroup(groupNumber) ? 'btn-outline-secondary' : 'btn-outline-primary'"
               [disabled]="isLastGroup(groupNumber)"
            >
               <i class="fa fa-caret-right" aria-hidden="true"></i>
            </button>
         </div>
      </div>
   </div>
</div>
<app-cup-rating-group-table *ngIf="cupRatingGroup" [cupRatingGroup]="cupRatingGroup" [highlightConfig]="highlightConfig">
</app-cup-rating-group-table>
<a routerLink="{{ competitionId }}/rating-position-in-groups/3" class="btn btn-outline-primary"> Рейтинг третіх місць </a>
<div class="mt-2">
   <app-cup-rating-group-matches [competitionId]="competitionId" [groupNumber]="groupNumber" [tab]="tab"> </app-cup-rating-group-matches>
</div>
