<div class="container">
   <div class="row">
      <div class="col">
         <h2 class="h2">Створити кубок-матчі (автоматично):</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <div class="card shadow">
            <div class="card-body">
               <form novalidate [formGroup]="cupCupMatchAutoForm" (ngSubmit)="onSubmit()">
                  <div
                     *ngIf="cupStages"
                     class="form-group"
                     [class.form-group-invalid-custom]="
                        cupCupMatchAutoForm.get('cup_stage_id').invalid && cupCupMatchAutoForm.get('cup_stage_id').touched
                     "
                  >
                     <label for="cup_stage_id" class="font-weight-bold">Для якої стадії формувати кубок матчі</label>
                     <select id="cup_stage_id" class="form-control" formControlName="cup_stage_id">
                        <option *ngFor="let cupStage of cupStages" [value]="cupStage.id">
                           {{ cupStage.title }} - {{ cupStage.competition.title }}
                        </option>
                     </select>
                     <div
                        *ngIf="
                           cupCupMatchAutoForm.get('cup_stage_id').hasError('required') && cupCupMatchAutoForm.get('cup_stage_id').touched
                        "
                     >
                        <small>Кубкова стадія обов'язкова</small>
                     </div>
                  </div>
                  <div
                     class="form-group"
                     [class.form-group-invalid-custom]="
                        cupCupMatchAutoForm.get('number_of_matches_in_first_stage').invalid &&
                        cupCupMatchAutoForm.get('number_of_matches_in_first_stage').touched
                     "
                  >
                     <label for="number_of_matches_in_first_stage" class="font-weight-bold">Клькість матчів в першій стадії</label>
                     <input
                        type="number"
                        id="number_of_matches_in_first_stage"
                        class="form-control"
                        formControlName="number_of_matches_in_first_stage"
                     />
                     <div
                        *ngIf="
                           cupCupMatchAutoForm.get('number_of_matches_in_first_stage').hasError('min') &&
                           cupCupMatchAutoForm.get('number_of_matches_in_first_stage').touched
                        "
                     >
                        <small>Мінімальна кількість матчів - 1</small>
                     </div>
                  </div>
                  <div class="d-flex justify-content-between">
                     <button type="button" class="btn btn-outline-danger" (click)="cupCupMatchAutoForm.reset()">Відмінити зміни</button>
                     <button type="submit" class="btn btn-primary">Зберегти</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
