<div *ngIf="cupStage" class="card shadow">
   <div class="card-header pb-2 pt-2">
      <div class="d-flex justify-content-between">
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.Qualification"><strong>Кваліфікація</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.PlayOff"><strong>Плей-офф</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.PlayOff2"><strong>Плей-офф</strong></div>
         <div>Матчів: {{ cupCupMatches.length }}</div>
      </div>
   </div>
   <div class="card-body p-0">
      <div
         *ngFor="let wrappedCupCupMatch of wrappedCupCupMatches"
         class="row no-gutters cursor-pointer cup-match-row pt-1 pb-1"
         [routerLink]="'/cup/cup-matches/' + wrappedCupCupMatch.current.id"
      >
         <div class="col-5 d-flex align-items-center justify-content-end">
            <small *ngIf="wrappedCupCupMatch.current.home_user.hometown" class="d-none d-sm-block text-muted text-truncate pr-1"
               >({{ wrappedCupCupMatch.current.home_user.hometown }})</small
            >
            <app-cup-cup-match-user-name
               class="text-right pr-1"
               [count]="wrappedCupCupMatch.current.cup_predictions_home_count"
               [user]="wrappedCupCupMatch.current.home_user"
            ></app-cup-cup-match-user-name>
            <app-user-logo-with-tooltip [user]="wrappedCupCupMatch.current.home_user"></app-user-logo-with-tooltip>
         </div>
         <div class="col-2 d-flex flex-column align-items-center justify-content-center text-center text-nowrap">
            <small class="text-muted" *ngIf="isNil(wrappedCupCupMatch.current.home) && isNil(wrappedCupCupMatch.current.away); else score"
               >vs</small
            >
            <ng-template #score>
               <div class="current-result">
                  <span class="d-none d-sm-inline">
                     <strong>{{ wrappedCupCupMatch.current.home }} : {{ wrappedCupCupMatch.current.away }}</strong>
                  </span>
                  <span class="d-inline d-sm-none">
                     <strong>{{ wrappedCupCupMatch.current.home }}:{{ wrappedCupCupMatch.current.away }}</strong>
                  </span>
               </div>
               <div *ngIf="wrappedCupCupMatch.first">
                  <span class="text-muted"> ({{ wrappedCupCupMatch.first.away }}:{{ wrappedCupCupMatch.first.home }}) </span>
               </div>
            </ng-template>
         </div>
         <div class="col-5 d-flex align-items-center justify-content-start">
            <app-user-logo-with-tooltip [user]="wrappedCupCupMatch.current.away_user"></app-user-logo-with-tooltip>
            <app-cup-cup-match-user-name
               class="text-left pl-1"
               [count]="wrappedCupCupMatch.current.cup_predictions_away_count"
               [user]="wrappedCupCupMatch.current.away_user"
            ></app-cup-cup-match-user-name>
            <small *ngIf="wrappedCupCupMatch.current.away_user.hometown" class="d-none d-sm-block text-muted text-truncate pl-1"
               >({{ wrappedCupCupMatch.current.away_user.hometown }})</small
            >
         </div>
      </div>
   </div>
</div>
