<div *ngIf="competition" class="card black-shadow mb-2">
   <div class="card-header">
      {{ competition.title }}
   </div>
   <div class="card-body">
      <table class="table table-sm table-striped table-bordered mb-0">
         <tr>
            <td>Статус</td>
            <td class="text-center">
               <ng-container *ngTemplateOutlet="teamCompetitionState; context: { $implicit: competition }"></ng-container>
            </td>
         </tr>
         <tr>
            <td>Кількість команд</td>
            <td class="text-center">{{ competition.number_of_teams }}</td>
         </tr>
         <tr>
            <td>Кількість команд: вилітає / піднімається</td>
            <td class="text-center">{{ competition?.config?.team?.relegation }} / {{ competition?.config?.team?.promotion }}</td>
         </tr>
      </table>
   </div>
</div>
<button
   [hidden]="!showCreateTeamButton"
   type="button"
   class="btn btn-primary"
   [routerLink]="['/', 'team', 'create', { createParticipantForCompetition: competition?.id }]"
>
   <i class="fa fa-plus-circle"></i> Створити нову команду
</button>
<button [hidden]="!showCreateTeamButton" (click)="openTeamSelectModal(teamSelectModal)" type="button" class="btn btn-outline-primary">
   <i class="fa fa-plus-circle"></i> Заявити команду
</button>
<div *ngIf="teams" class="black-shadow">
   <ul class="list-group">
      <li
         *ngFor="let team of teams"
         class="list-group-item"
         [ngClass]="{ 'list-group-item-success': competition.active && team.confirmed }"
      >
         <app-team-and-participants [team]="team" [competition]="competition"></app-team-and-participants>
      </li>
   </ul>
</div>
<ng-template #teamCompetitionState let-competition>
   <span *ngIf="!competition.stated && !competition.active && !competition.ended">Майбутнє змагання</span>
   <span *ngIf="competition.stated">Відкрито подачу заявок</span>
   <span *ngIf="competition.active">Активне змагання</span>
   <span *ngIf="competition.ended">Завершене змагання</span>
</ng-template>
<ng-template #teamSelectModal let-c="close">
   <app-team-select-modal-new [close]="c" (submitted)="teamSelected($event)"> </app-team-select-modal-new>
</ng-template>
