<div class="card p-2 pl-lg-5 pr-lg-5">
   <form novalidate [formGroup]="cupStageForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
         <div class="col-12 col-md-6 col-lg-4 offset-0 offset-lg-2">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(cupStageForm.get('competition_id'))">
               <label for="competition_id" class="font-weight-bold">Змагання:</label>
               <select id="competition_id" class="form-control" formControlName="competition_id">
                  <option *ngFor="let competition of competitions" [value]="competition.id">{{ competition.title }}</option>
               </select>
               <div [hidden]="!showFormErrorMessage(cupStageForm.get('competition_id'), 'required')" class="error-message">
                  <small>Змагання обов'язкове</small>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(cupStageForm.get('cup_stage_type_id'))">
               <label for="'cup_stage_type_id'" class="font-weight-bold">Тип кубкової стадії:</label>
               <div>
                  <div *ngFor="let cupStageType of cupStageTypes" class="form-check form-check-inline">
                     <input
                        class="form-check-input cursor-pointer"
                        formControlName="cup_stage_type_id"
                        type="radio"
                        name="cup_stage_type_id"
                        [id]="'stage' + cupStageType.id"
                        [value]="cupStageType.id"
                     />
                     <label class="form-check-label cursor-pointer" [for]="'stage' + cupStageType.id">
                        {{ cupStageType.title }}
                     </label>
                  </div>
               </div>
               <div [hidden]="!showFormErrorMessage(cupStageForm.get('cup_stage_type_id'), 'required')" class="error-message">
                  <small>Тип кубкової стадії обов'язковий</small>
               </div>
            </div>
         </div>
      </div>
      <div class="form-row">
         <div class="col-12 col-md-4 col-lg-3 offset-0 offset-lg-2">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(cupStageForm.get('state'))">
               <label [attr.for]="'state'" class="font-weight-bold">Статус:</label>
               <div>
                  <div class="form-check form-check-inline">
                     <input
                        class="form-check-input cursor-pointer"
                        formControlName="state"
                        type="radio"
                        name="state"
                        [id]="cupStageStates.NotStarted"
                        [value]="cupStageStates.NotStarted"
                     />
                     <label class="form-check-label cursor-pointer mr-2" [for]="cupStageStates.NotStarted"> Не почата </label>
                     <input
                        class="form-check-input cursor-pointer"
                        formControlName="state"
                        type="radio"
                        name="state"
                        [id]="cupStageStates.Active"
                        [value]="cupStageStates.Active"
                     />
                     <label class="form-check-label cursor-pointer mr-2" [for]="cupStageStates.Active"> Активна </label>
                     <input
                        class="form-check-input cursor-pointer"
                        formControlName="state"
                        type="radio"
                        name="state"
                        [id]="cupStageStates.Ended"
                        [value]="cupStageStates.Ended"
                     />
                     <label class="form-check-label cursor-pointer mr-2" [for]="cupStageStates.Ended"> Завершена </label>
                  </div>
               </div>
               <div [hidden]="!showFormErrorMessage(cupStageForm.get('state'), 'required')" class="error-message">
                  <small>Статус обов'язковий</small>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-4 col-lg-3">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(cupStageForm.get('title'))">
               <label for="title" class="font-weight-bold">Назва</label>
               <input type="text" id="title" class="form-control" formControlName="title" />
               <div [hidden]="!showFormErrorMessage(cupStageForm.get('title'), 'required')" class="error-message">
                  <small>Назва обов'язкова</small>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-4 col-lg-2">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(cupStageForm.get('round'))">
               <label for="round" class="font-weight-bold">Раунд:</label>
               <input type="number" id="round" class="form-control" formControlName="round" min="1" />
               <div [hidden]="!showFormErrorMessage(cupStageForm.get('round'), 'required')" class="error-message">
                  <small>Раунд обов'язковий</small>
               </div>
            </div>
         </div>
      </div>
      <div class="form-row">
         <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-6">
            <div formArrayName="cup_matches" class="mb-2">
               <label class="font-weight-bold">Кубкові матчі ({{ cupMatchesFormArray.controls.length }}):</label>
               <div [hidden]="cupStageForm.disabled" class="mb-2">
                  <button type="button" class="btn btn-outline-success" (click)="addCupMatch()">
                     <i class="fa fa-plus-circle"></i>
                     Добавити
                  </button>
               </div>
               <div
                  *ngFor="let cupMatchFormGroup of cupMatchesFormArray.controls; let i = index"
                  [formGroup]="cupMatchFormGroup"
                  class="form-row mb-2"
               >
                  <div class="col d-flex align-items-center justify-content-end">{{ i + 1 }}.</div>
                  <div class="col-9">
                     <div class="form-group mb-0" [class.form-group-invalid]="showFormInvalidClass(cupMatchFormGroup.get('id'))">
                        <select id="id" class="form-control" formControlName="id">
                           <option *ngFor="let cupMatch of cupMatches" [value]="cupMatch.id">
                              {{ cupMatch.match.club_home.title }} - {{ cupMatch.match.club_away.title }}
                           </option>
                        </select>
                        <div [hidden]="!showFormErrorMessage(cupMatchFormGroup.get('id'), 'required')" class="error-message">
                           <small>Виберіть матч зі списку або видаліть це поле</small>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <button
                        [hidden]="cupStageForm.disabled"
                        type="button"
                        title="Видалити"
                        class="btn btn-danger"
                        (click)="removeCupMatch(i)"
                     >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div [hidden]="cupStageForm.disabled" class="form-row">
         <div class="col-6 col-lg-4 offset-0 offset-lg-2">
            <button type="button" class="btn btn-outline-danger" (click)="openConfirmModal(confirmModal, null, resetCupStageForm)">
               <i class="fa fa-refresh"></i>
               Відмінити зміни
            </button>
         </div>
         <div class="col-6 col-lg-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
               <i class="fa fa-check-circle-o"></i>
               {{ cupStage ? 'Змінити' : 'Зберегти' }}
            </button>
         </div>
      </div>
   </form>
</div>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal [close]="c" [message]="'Очистити форму від змін?'" (confirmed)="openedModal.submitted($event)">
   </app-confirmation-modal>
</ng-template>
