<form novalidate [formGroup]="cupStageForm" (ngSubmit)="onSubmit()">
   <div
      *ngIf="competitions"
      class="form-group"
      [class.form-group-invalid-custom]="cupStageForm.get('competition_id').invalid && cupStageForm.get('competition_id').touched"
   >
      <label for="competition_id" class="font-weight-bold">Змагання:</label>
      <select id="competition_id" class="form-control" formControlName="competition_id">
         <option *ngFor="let competition of competitions" [value]="competition.id">{{ competition.title }}</option>
      </select>
      <div *ngIf="cupStageForm.get('competition_id').hasError('required') && cupStageForm.get('competition_id').touched">
         <small>Змагання обов'язкове</small>
      </div>
   </div>
   <div
      *ngIf="cupStageTypes"
      class="form-group"
      [class.form-group-invalid-custom]="cupStageForm.get('cup_stage_type_id').invalid && cupStageForm.get('cup_stage_type_id').touched"
   >
      <label for="cup_stage_type_id" class="font-weight-bold">Тип кубкової стадії:</label>
      <select id="cup_stage_type_id" class="form-control" formControlName="cup_stage_type_id">
         <option *ngFor="let cupStageType of cupStageTypes" [value]="cupStageType.id">{{ cupStageType.title }}</option>
      </select>
      <div *ngIf="cupStageForm.get('cup_stage_type_id').hasError('required') && cupStageForm.get('cup_stage_type_id').touched">
         <small>Тип кубкової стадії обов'язковий</small>
      </div>
   </div>
   <div class="row">
      <div class="col-6 text-center">
         <div class="form-check">
            <label class="form-check-label">
               <input class="form-check-input" type="checkbox" formControlName="active" />
               <strong>Активна</strong>
            </label>
         </div>
      </div>
      <div class="col-6 text-center">
         <div class="form-check">
            <label class="form-check-label">
               <input class="form-check-input" type="checkbox" formControlName="ended" />
               <strong>Завершена</strong>
            </label>
         </div>
      </div>
   </div>
   <div class="form-group" [class.form-group-invalid-custom]="cupStageForm.get('round').invalid && cupStageForm.get('round').touched">
      <label for="round" class="font-weight-bold">Раунд:</label>
      <input type="number" id="round" class="form-control" formControlName="round" />
      <div *ngIf="cupStageForm.get('round').hasError('required') && cupStageForm.get('round').touched">
         <small>Раунд обов'язковий</small>
      </div>
   </div>
   <div class="form-group" [class.form-group-invalid-custom]="cupStageForm.get('title').invalid && cupStageForm.get('title').touched">
      <label for="title" class="font-weight-bold">Назва</label>
      <input type="text" id="title" class="form-control" formControlName="title" />
      <div *ngIf="cupStageForm.get('title').hasError('required') && cupStageForm.get('title').touched">
         <small>Назва обов'язкова</small>
      </div>
   </div>
   <div *ngIf="cupMatches" formArrayName="cup_matches" class="mb-2">
      <label class="font-weight-bold">Кубкові матчі ({{ cupMatchesFormArray.controls.length }}):</label>
      <div
         *ngFor="let cupMatchFormGroup of cupMatchesFormArray.controls; let i = index"
         [formGroup]="cupMatchFormGroup"
         class="form-row mb-2"
      >
         <div class="col d-flex align-items-center justify-content-end">{{ i + 1 }}.</div>
         <div class="col-9">
            <div
               class="form-group mb-0"
               [class.form-group-invalid-custom]="cupMatchFormGroup.get('id').invalid && cupMatchFormGroup.get('id').touched"
            >
               <select id="id" class="form-control" formControlName="id">
                  <option *ngFor="let cupMatch of cupMatches" [value]="cupMatch.id">
                     <!--TODO: remove after replacing v1 endpoint-->
                     <ng-container *ngIf="cupMatch.club_first; else default">
                        {{ cupMatch.club_first.title }} - {{ cupMatch.club_second.title }}
                     </ng-container>
                     <ng-template #default> {{ cupMatch.match.club_home.title }} - {{ cupMatch.match.club_away.title }} </ng-template>
                  </option>
               </select>
               <div *ngIf="cupMatchFormGroup.get('id').hasError('required') && cupMatchFormGroup.get('id').touched">
                  <small>Виберіть матч зі списку або видаліть це поле</small>
               </div>
            </div>
         </div>
         <div class="col">
            <button type="button" title="Видалити" class="btn btn-danger" (click)="removeCupMatch(i)">
               <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
         </div>
      </div>
      <div>
         <button type="button" class="btn btn-outline-success" (click)="addCupMatch()">Добавити</button>
      </div>
   </div>
   <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-danger" (click)="openConfirmModal(confirmModal)">Відмінити зміни</button>
      <button type="submit" class="btn btn-primary">{{ cupStage ? 'Змінити' : 'Зберегти' }}</button>
   </div>
</form>
<app-error *ngIf="errorCupStageTypes" [message]="errorCupStageTypes"></app-error>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal [close]="c" [message]="confirmModalMessage" (confirmed)="confirmModalSubmit($event)"> </app-confirmation-modal>
</ng-template>
