<div *ngIf="competitions">
   <ng-container>
      <div class="d-block d-md-none">
         <div class="btn-group btn-group-sm">
            <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
         </div>
      </div>
      <div class="d-none d-md-block">
         <div class="btn-group">
            <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
         </div>
      </div>
   </ng-container>
   <app-cup-applications-friendly
      *ngIf="isFriendlyCupCompetition(selectedCompetition); else defaultCompetition"
      [cupApplications]="cupApplications"
      [competition]="selectedCompetition"
   >
   </app-cup-applications-friendly>
   <ng-template #defaultCompetition>
      <app-cup-applications-default *ngIf="selectedCompetition" [cupApplications]="cupApplications" [competition]="selectedCompetition"> </app-cup-applications-default>
      <app-info *ngIf="competitions && !competitions.length && !selectedCompetition" [message]="'Активних змагань або змагань з відкритими заявками немає'"></app-info>
   </ng-template>
</div>
<ng-template #competitionsNavigation>
   <button
      *ngFor="let competition of competitions"
      (click)="onClick(competition)"
      class="btn mb-2"
      [ngClass]="competition.id === selectedCompetition.id ? 'btn-primary' : 'btn-outline-primary'"
      type="button"
   >
      {{ competition.title }}
   </button>
   <button *ngIf="selectedCompetition" (click)="getApplicationsAndCompetitions()" title="Оновити" type="button" class="btn btn-outline-secondary mb-2">
      <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
   </button>
</ng-template>
