<div class="card shadow">
   <div class="card-header d-flex justify-content-between">
      <div class="d-flex align-items-center">
         <div class="pr-2">
            <app-user-logo-with-tooltip [user]="message.user"></app-user-logo-with-tooltip>
         </div>
         <div class="d-flex flex-column">
            <strong>{{ message.user.name }}</strong>
            <small class="text-muted">{{ message.user.hometown }}</small>
         </div>
      </div>
      <div class="d-flex flex-column align-items-end">
         <ng-container *ngIf="authenticatedUser && message.is_changeable">
            <div *ngIf="message.user.id === authenticatedUser.id; else notAuthorActions" ngbDropdown>
               <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-h"></i>
               </button>
               <div ngbDropdownMenu>
                  <button ngbDropdownItem><i class="fa fa-pencil"></i> Змінити</button>
                  <button ngbDropdownItem><i class="fa fa-trash"></i> Видалити</button>
               </div>
            </div>
            <ng-template #notAuthorActions>
               <div *appHasPermissions="{ permissions: [permissionForDeleting] }" ngbDropdown>
                  <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                     <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div ngbDropdownMenu>
                     <button ngbDropdownItem><i class="fa fa-trash"></i> Видалити</button>
                  </div>
               </div>
            </ng-template>
         </ng-container>
         <small class="text-muted">{{ message.created_at | time: 'fromNow' }}</small>
      </div>
   </div>
   <div class="card-body">
      <div class="card-text break-word">
         <div [innerHtml]="assembleHTMLItem(message.body)"></div>
      </div>
   </div>
   <div *ngIf="message.user.winners?.length || message.user.clubs?.length" class="card-footer d-flex justify-content-between">
      <div class="d-flex">
         <app-club-logo-with-tooltip *ngFor="let club of message.user.clubs" [club]="club" class="pr-2"></app-club-logo-with-tooltip>
      </div>
      <div class="d-flex flex-wrap justify-content-end">
         <div
            *ngFor="let win of groupedWins | keyvalue"
            class="position-relative cursor-pointer pr-2"
            [ngbPopover]="popContent"
            [popoverTitle]="popTitle"
            popoverClass="popover-class"
         >
            <ng-template #popContent>
               <div class="d-flex align-items-center">
                  <img
                     [attr.src]="awardsLogosPath + '/' + win.value[0].award.image"
                     [attr.alt]="win.value[0].award.title"
                     class="popover-image"
                  />
                  <div class="competitions d-flex align-self-stretch flex-column justify-content-center border-left border-warning p-2">
                     <div *ngFor="let win of win.value" class="position-relative competition-title mb-3">
                        <i class="competition-icon fa fa-circle text-warning position-absolute"></i>
                        <ng-container *ngIf="!isChampionshipSeasonWinner(win.award); else championshipSeasonWin">
                           <p class="ml-1 mb-0">{{ win.competition.title }}</p>
                           <p class="ml-1 mb-0">№{{ win.competition.number_in_season }} в сезоні</p>
                           <p class="ml-1 mb-0">{{ win.competition.season.title }}</p>
                        </ng-container>
                        <ng-template #championshipSeasonWin>
                           {{ win.competition.season.title }}
                        </ng-template>
                     </div>
                  </div>
               </div>
            </ng-template>
            <ng-template #popTitle>
               <div class="text-center">
                  <strong>{{ win.value[0].award.title }}</strong>
               </div>
            </ng-template>
            <img
               [attr.src]="awardsLogosPath + '/' + win.value[0].award.image"
               [attr.alt]="win.value[0].award.title"
               class="win-image small-image position-relative"
            />
            <div *ngIf="win.value.length > 1" class="win-number-circle position-absolute bg-warning">
               <small class="win-number-text text-dark">{{ win.value.length }}</small>
            </div>
         </div>
      </div>
   </div>
</div>
