<div class="container">
   <div class="row">
      <div class="col-12">
         <form novalidate [formGroup]="newsForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
               <div class="col-12 col-md-4">
                  <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(newsForm.get('title'))">
                     <label class="font-weight-bold" for="title">Заголовок:</label>
                     <input type="text" id="title" class="form-control" autocomplete="off" formControlName="title" />
                     <div [hidden]="!showFormErrorMessage(newsForm.get('title'), 'required')" class="error-message">
                        <small>Заголовок обов'язковий</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('title'), 'minlength')" class="error-message">
                        <small>Заголовок повинен бути довшим ніж 10 символів</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('title'), 'maxlength')" class="error-message">
                        <small>Заголовок не повинен перевищувати 100 символів</small>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-4">
                  <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(newsForm.get('tournament_id'))">
                     <label class="font-weight-bold" for="tournament_id">Категорія:</label>
                     <select id="tournament_id" class="form-control" formControlName="tournament_id">
                        <option [ngValue]="null">Інше</option>
                        <option value="1">Чемпіонат</option>
                        <option value="2">Кубок</option>
                        <option value="3">Командний</option>
                     </select>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('tournament_id'), 'required')" class="error-message">
                        <small>Категорія обов'язкова</small>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-4">
                  <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(newsForm.get('image'))">
                     <label [for]="'image'" class="font-weight-bold">
                        <app-news-logo *ngIf="news" [news]="news"></app-news-logo>
                        Зображення:
                        <i
                           class="fa fa-info-circle"
                           [ngbTooltip]="'Завантажте зображення в форматі 1:1 (квадратне) для кращого відображення на сайті.'"
                        ></i>
                     </label>
                     <app-file-upload formControlName="image" [fileExtensions]="newsImageExtensions"></app-file-upload>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('image'), 'required')" class="error-message">
                        <small>Зображення обов'язкове</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('image'), 'invalidFileType')" class="error-message">
                        <small>Зображення повинно бути формату {{ newsImageExtensions }}</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('image'), 'invalidFileSize')" class="error-message">
                        <small>Розмір зображення не повинен перевищувати {{ newsImageSize / 1024 }} КБ</small>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-row">
               <div class="col-12">
                  <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(newsForm.get('body'))">
                     <label class="font-weight-bold" for="body">Текст:</label>
                     <quill-editor
                        #editor
                        id="body"
                        placeholder="Введіть текст новини"
                        [formControl]="newsForm.controls['body']"
                        [modules]="editorModules"
                     >
                     </quill-editor>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('body'), 'required')" class="error-message">
                        <small>Текст новини обов'язковий</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(newsForm.get('body'), 'minlength')" class="error-message">
                        <small>Текст новини повинен бути більшим ніж 50 символів</small>
                     </div>
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-end">
               <button [hidden]="spinnerButton" type="submit" class="btn btn-primary">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  {{ news ? 'Змінити' : 'Створити' }}
               </button>
               <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            </div>
         </form>
      </div>
   </div>
</div>
