<h2>Матч:</h2>
<div *ngIf="championshipMatch" class="container-fluid">
   <app-championship-match-predictable [championshipMatch]="championshipMatch" [authenticatedUser]="null" [championshipPredictsForm]="null">
   </app-championship-match-predictable>
</div>
<h2>Прогнози:</h2>
<app-championship-match-predictions-table
   [championshipMatch]="championshipMatch"
   [championshipPredictions]="championshipPredictions"
   [authenticatedUser]="authenticatedUser"
>
</app-championship-match-predictions-table>
