<div *ngIf="championshipMatch" class="container-fluid">
   <app-championship-match-predictable [championshipMatch]="championshipMatch" [authenticatedUser]="null" [championshipPredictsForm]="null">
   </app-championship-match-predictable>
</div>
<h4>Прогнози</h4>
<app-championship-match-predictions-table
   *ngIf="championshipMatch && championshipPredictions"
   [championshipMatch]="championshipMatch"
   [championshipPredictions]="championshipPredictions"
   [authenticatedUser]="authenticatedUser"
>
</app-championship-match-predictions-table>
