<div class="m-2">
   <h2 class="h2">Керування командним чемпіонатом:</h2>
   <a routerLink="/manage" class="btn btn-outline-primary">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Назад</span>
   </a>
   <a routerLink="/manage/team/matches" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">М</small>
      <span class="d-none d-sm-inline">Матчі</span>
   </a>
   <a routerLink="/manage/team/participants" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">У</small>
      <span class="d-none d-sm-inline">Учасники</span>
   </a>
   <a routerLink="/manage/team/teams" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">К</small>
      <span class="d-none d-sm-inline">Команди</span>
   </a>
   <a routerLink="/manage/team/competitions" [routerLinkActive]="['btn-primary']" class="btn">
      <small class="font-weight-bold">З</small>
      <span class="d-none d-sm-inline">Змагання</span>
   </a>
</div>
<router-outlet></router-outlet>
