<div class="m-2">
   <h2 class="h2">Керування кубком:</h2>
   <a routerLink="/manage" class="btn btn-outline-primary">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Назад</span>
   </a>
   <a routerLink="/manage/cup/matches" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">М</small>
      <span class="d-none d-sm-inline">Матчі</span>
   </a>
   <a routerLink="/manage/cup/stages" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">С</small>
      <span class="d-none d-sm-inline">Стадії</span>
   </a>
   <a routerLink="/manage/cup/cup-matches" [routerLinkActive]="['btn-primary']" [routerLinkActiveOptions]="{ exact: false }" class="btn">
      <small class="font-weight-bold">К</small>
      <span class="d-none d-sm-inline">Кубок-матчі</span>
   </a>
</div>
<router-outlet></router-outlet>
