<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Керування кубком:</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center mb-2 flex-column flex-sm-row">
                <li *ngFor="let navigationItem of navigationItems" class="nav-item">
                    <a [routerLink]="navigationItem.routerLink" routerLinkActive="active" class="nav-link">
                        {{navigationItem.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

