<div class="card shadow">
   <div class="card-body">
      <p class="card-text">
         <b>1. </b> Кубкове змагання - це індивідуальний турнір, в якому учасники проводять матчі (далі кубок-матчі) між собою.
      </p>
      <p class="card-text"><b>2. </b> Кубкові змагання поділяються на два типи:</p>
      <ul>
         <li>Товариські матчі</li>
         <li>Кубок</li>
      </ul>
      <p class="card-text"><b>3. </b> Кожне кубкове змагання складається з кубкових стадій.</p>
      <p><b>4. </b><strong>Товариські матчі:</strong></p>
      <ul>
         <li>Перед початком кожної стадії товариських матчів відбувається новий прийом заявок</li>
         <li>
            Гравець, який подає заявку, вибирає собі суперника(можна вибрати варіант "Будь-хто") і місце - "Вдома" або "На виїзді" (можна
            вибрати "Будь-де")
         </li>
         <li>Після того як заяку підтверджено, створюється кубок-матч і з'являється можливість зробити прогнози</li>
      </ul>
      <p><b>5. </b><strong>Кубок:</strong></p>
      <ul>
         <li>Перед початком кожного кубку проводиться новий прийом заявок</li>
         <li>Підтверджує або відхиляє заявку адмін кубку</li>
      </ul>
      <p><b>6. </b> Кожна кубкова стадія містить <strong>8 матчів</strong> для прогнозування.</p>
      <p><b>7. </b> Гравець може мати одночасно тільки одну відкриту заявку і бути учасником тільки одного кубкового змагання.</p>
      <p>
         <b>8. </b> Учасник кубок-матчу, який знаходиться першим в парі грає <strong>"Вдома"</strong>, а той який другий -
         <strong>"На виїзді"</strong>.
      </p>
      <p><b>9. </b> Час на прогнозування (від початку матчу) і нарахування очок в рейтинг залежить від типу кубкової стадії.</p>
      <div *ngIf="cupStageTypes" class="table-responsive shadow-sm mb-2">
         <table class="table table-sm table-bordered table-striped mb-0">
            <thead class="thead-dark">
               <tr>
                  <th scope="col">Тип</th>
                  <th scope="col" class="text-center">Вдома</th>
                  <th scope="col" class="text-center">На виїзді</th>
                  <th scope="col" class="text-center">Коефіцієнт</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let cupStageType of cupStageTypes">
                  <th scope="row">{{ cupStageType.title }}</th>
                  <ng-container *ngIf="cupStageType.home_minutes === cupStageType.away_minutes; else differentMinutes">
                     <td class="text-center" colspan="2">{{ cupStageType.home_minutes }} хв.</td>
                  </ng-container>
                  <ng-template #differentMinutes>
                     <td class="text-center">{{ cupStageType.home_minutes }} хв.</td>
                     <td class="text-center">{{ cupStageType.away_minutes }} хв.</td>
                  </ng-template>
                  <td class="text-center">{{ cupStageType.coefficient }}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <p><b>10. </b> Результати матчів враховуються включно з додатковим часом.</p>
      <p>
         <b>11. </b> Нарахування очок в рейтинг відбувається за формулами<br />
         - якщо гравець зробив хоча б один прогноз:<br />
         <u>Коефіцієнт кубкової стадії * 25 * Очки</u><br />
         <small class="text-muted">(змінено 2021-04-04)</small><br />
         <br />
         - якщо гравець не зробив жодного прогнозу:<br />
         <u>Коефіцієнт кубкової стадії * -25</u><br />
         <small class="text-muted">(додано 2020-12-12)</small><br />
         <br />
         <strong>Очки:</strong> перемога = 1 | нічия = 0.333 | поразка = 0<br />
         <strong>Коефіцієнт стадії:</strong> наведено в таблиці для кожного типу кубкової стадій<br />
      </p>
      <p>
         <b>12. </b> У випадку стадій на виліт <strong>(Кваліфікація (Одноматчева дуель), Плей-офф (Одноматчева дуель), Фінал)</strong>
         переможцем вважається гравець в якого кращі показники (в порядку важливості):
      </p>
      <ul>
         <li>Забиті голи (повністю вгадані результати матчу)</li>
         <li>Очки (за принципом чемпіонату)</li>
         <li>Коефіцієнт складності</li>
      </ul>
      <p>
         Якщо всі показники рівні, учасник наступного раунду визначається випадковим жеребом.<br />
         А у випадку фіналу, якщо дозволяє календар - призначається ще одна фінальна кубкова стадія (тобто відбувається ще один кубок-матч
         між фіналістами).
      </p>
      <p>
         <b>13. </b> У випадку рівності забитих голів для стадій <strong>(Кваліфікація, Плей-офф)</strong> в наступний раунд проходить
         гравець, в якого кращий показник в матчі "На виїзді"(т.зв. правило виїзного голу).<br />
         Якщо показник однаковий, то порівнюється наступний, в порядку важливості наведеному в пункті 11.<br />
         Якщо всі показники рівні, учасник наступного раунду визначається випадковим жеребом.
      </p>
      <p><b>14. </b> Позиція учасників <strong>кубкових груп</strong> визначається за наступними показниками:</p>
      <ul>
         <li>Кількість очок зароблених в кубок-матчах групових стадій (перемога = 3 | нічия = 1 | поразка = 0)</li>
         <li>Забиті голи (повністю вгадані результати матчу)</li>
         <li>Очки (за принципом чемпіонату)</li>
         <li>Коефіцієнт складності</li>
      </ul>
   </div>
</div>
