<div class="m-2">
   <h2 class="h2">Керування командами:</h2>
   <button routerLink="/manage/team/teams" type="button" class="btn btn-dark">
      <i class="fa fa-table" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Таблиця Команд</span>
   </button>
   <button routerLink="/manage/team/teams/create" type="button" class="btn btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Створити Команду</span>
   </button>
</div>
<router-outlet></router-outlet>
