<h2 class="h2">Матчі:</h2>
<ng-container *ngIf="competitions">
   <div class="d-block d-md-none">
      <div class="btn-group btn-group-sm">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
   <div class="d-none d-md-block">
      <div class="btn-group">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
</ng-container>
<ng-template #competitionsNavigation>
   <button
      *ngFor="let competition of competitions"
      (click)="clickOnCompetitionButton(competition)"
      class="btn mb-2"
      [ngClass]="competition.id === selectedCompetitionId ? 'btn-primary' : 'btn-outline-primary'"
      type="button"
   >
      {{ competition.title }}
   </button>
   <button
      (click)="showCupStageSelect = !showCupStageSelect"
      class="btn btn-outline-secondary mb-2"
      type="button"
      title="Попередні змагання"
   >
      <i class="fa fa-history"></i>
      <i [hidden]="showCupStageSelect" class="fa fa-chevron-down"></i>
      <i [hidden]="!showCupStageSelect" class="fa fa-chevron-up"></i>
   </button>
</ng-template>
<div [hidden]="!showCupStageSelect" class="mb-2">
   <app-cup-stage-select (cupStageSelected)="clickOnCupStageSelectButton($event)"></app-cup-stage-select>
</div>
<div class="mb-2">
   <app-dropdown-navigation
      [dropdownItems]="cupStages"
      [selectedId]="selectedCupStage?.id"
      [navigationPath]="['/cup', 'cup-matches', { cup_stage_id: ':id' }]"
      [formSize]="'lg'"
   >
   </app-dropdown-navigation>
</div>
<div [ngSwitch]="selectedCupStage?.cup_stage_type_id">
   <app-cup-cup-matches-group *ngSwitchCase="cupStageTypes.Group" [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-group>
   <app-cup-cup-matches-group *ngSwitchCase="cupStageTypes.GroupOneMatch" [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-group>
   <app-cup-cup-matches-two-rounds
      *ngSwitchCase="cupStageTypes.Qualification"
      [cupStage]="selectedCupStage"
      [cupCupMatches]="cupCupMatches"
      [cupCupMatchesOfFirstStage]="cupCupMatchesOfFirstStage"
   >
   </app-cup-cup-matches-two-rounds>
   <app-cup-cup-matches-two-rounds
      *ngSwitchCase="cupStageTypes.PlayOff"
      [cupStage]="selectedCupStage"
      [cupCupMatches]="cupCupMatches"
      [cupCupMatchesOfFirstStage]="cupCupMatchesOfFirstStage"
   >
   </app-cup-cup-matches-two-rounds>
   <app-cup-cup-matches-default *ngSwitchDefault [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-default>
</div>
