<ng-container *ngIf="competitions">
   <div class="d-block d-md-none">
      <div class="btn-group btn-group-sm">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
   <div class="d-none d-md-block mb-3">
      <div class="btn-group">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
</ng-container>
<ng-template #competitionsNavigation>
   <button
      *ngFor="let competition of competitions"
      (click)="clickOnCompetitionButton(competition)"
      class="btn"
      [ngClass]="competition.id === selectedCompetitionId ? 'btn-primary' : 'btn-outline-primary'"
      type="button"
   >
      {{ competition.title }}
   </button>
   <button (click)="showCupStageSelect = !showCupStageSelect" class="btn btn-outline-secondary" type="button" title="Попередні змагання">
      Попередні змагання
      <i [hidden]="showCupStageSelect" class="fa fa-chevron-down ml-1"></i>
      <i [hidden]="!showCupStageSelect" class="fa fa-chevron-up ml-1"></i>
   </button>
</ng-template>
<div [hidden]="!showCupStageSelect" class="mb-2">
   <app-cup-stage-select (cupStageSelected)="clickOnCupStageSelectButton($event)"></app-cup-stage-select>
</div>
<div class="mb-2">
   <app-dropdown-navigation [dropdownItems]="cupStages" [selectedId]="selectedCupStage?.id" [paramKey]="'cup_stage_id'" [formSize]="'lg'">
   </app-dropdown-navigation>
</div>
<div [ngSwitch]="selectedCupStage?.cup_stage_type_id">
   <app-cup-cup-matches-group *ngSwitchCase="cupStageTypes.Group" [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-group>
   <app-cup-cup-matches-group *ngSwitchCase="cupStageTypes.GroupOneMatch" [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-group>
   <app-cup-cup-matches-two-rounds
      *ngSwitchCase="cupStageTypes.Qualification"
      [cupStage]="selectedCupStage"
      [cupCupMatches]="cupCupMatches"
      [cupCupMatchesOfFirstStage]="cupCupMatchesOfFirstStage"
   >
   </app-cup-cup-matches-two-rounds>
   <app-cup-cup-matches-two-rounds
      *ngSwitchCase="cupStageTypes.PlayOff"
      [cupStage]="selectedCupStage"
      [cupCupMatches]="cupCupMatches"
      [cupCupMatchesOfFirstStage]="cupCupMatchesOfFirstStage"
   >
   </app-cup-cup-matches-two-rounds>
   <app-cup-cup-matches-two-rounds
      *ngSwitchCase="cupStageTypes.PlayOff2"
      [cupStage]="selectedCupStage"
      [cupCupMatches]="cupCupMatches"
      [cupCupMatchesOfFirstStage]="cupCupMatchesOfFirstStage"
   >
   </app-cup-cup-matches-two-rounds>
   <app-cup-cup-matches-default *ngSwitchDefault [cupStage]="selectedCupStage" [cupCupMatches]="cupCupMatches">
   </app-cup-cup-matches-default>
</div>
