<div class="m-2">
   <h2 class="h2">Керування матчами кубку:</h2>
   <button routerLink="/manage/cup/matches" type="button" class="btn btn-dark">
      <i class="fa fa-table" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Таблиця матчів кубку</span>
   </button>
   <button routerLink="/manage/cup/matches/create" type="button" class="btn btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Створити матч кубку</span>
   </button>
</div>
<router-outlet></router-outlet>
