<div *ngIf="paginationData && paginationData.currentPage === 1" class="row">
   <div class="col">
      <app-guestbook-message-form (guestbookMessageCreated)="messageCreated($event)"></app-guestbook-message-form>
   </div>
</div>
<div class="row">
   <div class="col">
      <div *ngFor="let message of guestbookMessages" class="mt-2">
         <app-user-message
            [message]="message"
            [authenticatedUser]="authenticatedUser"
            [permissionForDeleting]="'delete_guestbook_message'"
            (onDeleteButtonClick)="openConfirmModal($event, confirmModal, deleteGuestbookMessage)"
            (onUpdateButtonClick)="updateGuestbookMessage($event)"
         >
         </app-user-message>
      </div>
   </div>
</div>
<app-pagination
   *ngIf="paginationData"
   [totalItems]="paginationData.total"
   [currentPage]="paginationData.currentPage"
   [pageSize]="paginationData.pageSize"
   [path]="paginationData.path"
>
</app-pagination>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal
      [close]="c"
      [message]="'Ви впевнені що хочете видалити це повідомлення?'"
      (confirmed)="openedModal.submitted($event)"
   >
   </app-confirmation-modal>
</ng-template>
