<div class="row">
    <div class="col">
        <h2>Гостьова:
            <button [hidden]="!guestbookMessages" (click)="getGuestbookMessagesData()" title="Оновити" class="btn btn-sm btn-outline-secondary cursor-pointer">
                <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
            </button>
        </h2>
    </div>
</div>
<!-- new guestbook messages form-->
<div *ngIf="authenticatedUser" class="row">
    <div class="col text-white">
        <form [formGroup]="addGuestbookMessageForm" (ngSubmit)="onSubmit()" novalidate class="bg-dark p-2 mb-2 rounded">
            <input type="hidden" name="user_id" formControlName="user_id">
            <div class="form-group"
                 [class.form-group-invalid-custom]="addGuestbookMessageForm.get('body').invalid && (addGuestbookMessageForm.get('body').touched || !addGuestbookMessageForm.get('body').pristine)">
                <label class="form-control-label" for="body"><strong>Добавити повідомлення:</strong></label>
                <textarea id="body"
                          placeholder="Напишіть щось..."
                          class="form-control"
                          rows="3"
                          formControlName="body">
                    </textarea>
                <div *ngIf="addGuestbookMessageForm.get('body').hasError('required') && (addGuestbookMessageForm.get('body').touched || !addGuestbookMessageForm.get('body').pristine)">
                    <small>Текст коментаря обов'язковий.</small>
                </div>
                <div *ngIf="addGuestbookMessageForm.get('body').hasError('minlength') && !addGuestbookMessageForm.get('body').pristine">
                    <small>Текст коментаря повинен бути більшим ніж 10 символів.</small>
                </div>
                <div *ngIf="addGuestbookMessageForm.get('body').hasError('maxlength') && !addGuestbookMessageForm.get('body').pristine">
                    <small>Текст коментаря перевищує 1000 символів.</small>
                </div>
            </div>
            <button [disabled]="addGuestbookMessageForm.invalid"
                    [hidden]="spinnerButton"
                    type="submit"
                    class="btn btn-primary">Добавити</button>
            <!-- spinner button -->
            <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
        </form>
    </div>
</div>
<!-- error -->
<app-error *ngIf="errorGuestbookMessages" [message]="errorGuestbookMessages"></app-error>
<!-- guestbook messages -->
<div *ngIf="guestbookMessages" class="row">
    <div class="col">
        <div *ngFor="let message of guestbookMessages" class="card mb-2 black-shadow" [attr.id]="'message' + message.id">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <img class="rounded-circle small-image mr-1 mr-sm-2"
                         src="{{userImagesUrl}}{{message.user.image || userImageDefault}}"
                         alt="{{message.user.name}}">
                    <strong class="align-middle">{{message.user.name}}</strong>
                    <small *ngIf="message.user.hometown" class="text-muted">({{message.user.hometown}})</small>
                </div>
                <div *ngIf="message.user.clubs.length">
                    <img *ngFor="let club of message.user.clubs"
                         data-toggle="tooltip"
                         data-placement="bottom"
                         data-html="true"
                         title="<img src='{{clubImagesUrl + club.image}}' alt='{{club.title}}' class='img-fluid p-2'>"
                         [attr.src]="clubImagesUrl + club.image"
                         [attr.alt]="club.title"
                         class="small-image ml-1 mr-1 ml-sm-2 mr-sm-2">
                </div>
            </div>
            <div class="card-body">
                <div class="card-text break-word">
                    <div [innerHtml]="assembleHTMLItem(message.body)"></div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center pt-1 pb-1">
                <div>
                    <div *ngIf="message.user.winners.length" class="awards bg-white rounded p-1 mr-1">
                        <img *ngFor="let win of message.user.winners"
                             data-toggle="tooltip"
                             data-html="true"
                             data-placement="top"
                             title="<img src='{{awardsImagesUrl + win.award.image}}' alt='{{win.award.title}}' class='img-fluid p-2'>
                                    <hr class='bg-white m-1'>
                                    <div class='font-weight-bold'>{{win.award.title}}</div>
                                    <div>{{win.competition.title}}</div>"
                             [attr.src]="awardsImagesUrl + win.award.image"
                             [attr.alt]="win.award.title"
                             class="small-image ml-1 mr-1">
                    </div>
                </div>
                <div>
                    <small class="text-muted">{{message.created_at | time:'calendar'}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pagination -->
<app-pagination *ngIf="guestbookMessages"
                [totalItems]="total"
                [currentPage]="currentPage"
                [pageSize]="perPage"
                [path]="path">
</app-pagination>