<div *ngIf="matches" class="card shadow mt-2 mb-2">
   <h4 class="card-header text-xs-center">Останні результати</h4>
   <ul class="list-group list-group-flush">
      <li *ngFor="let match of matches" class="list-group-item">
         <div class="col-12 text-center">{{ match.club_home.title }} - {{ match.club_away.title }}</div>
         <div class="col-12 text-center">
            <app-club-logo [club]="match.club_home"></app-club-logo>
            <strong>{{ match.home }} : {{ match.away }}</strong>
            <app-club-logo [club]="match.club_away"></app-club-logo>
         </div>
      </li>
   </ul>
   <div class="card-footer text-muted">
      <button (click)="getMatchesData()" title="Оновити" class="btn btn-sm btn-outline-secondary cursor-pointer">
         <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
      </button>
   </div>
</div>
