<div class="container">
    <div class="row mb-2">
        <div class="col-12">
            <button routerLink="/manage/cup/cup-matches" type="button" class="btn btn-success">Таблиця кубок-матчів</button>
            <button routerLink="/manage/cup/cup-matches/create" type="button" class="btn btn-success">Створити кубок-матч</button>
            <button routerLink="/manage/cup/cup-matches/create-auto" type="button" class="btn btn-success">Створити кубок-матчі (Автоматично)</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
