<div class="card shadow px-3 py-2">
   <form novalidate [formGroup]="cupStageSelectForm">
      <div class="form-row">
         <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="season_id" class="font-weight-bold">Сезон:</label>
            <ng-select
               id="season_id"
               placeholder="Оберіть сезон"
               [items]="seasons || []"
               bindValue="id"
               bindLabel="title"
               formControlName="season_id"
               [searchable]="false"
               [clearable]="false"
            >
            </ng-select>
         </div>
         <div *ngIf="competitionsBySeasonId[seasonIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="competition_id" class="font-weight-bold">Змагання:</label>
            <ng-select
               id="competition_id"
               placeholder="Оберіть змагання"
               [items]="competitionsBySeasonId[seasonIdFormValue] || []"
               bindValue="id"
               bindLabel="title"
               [groupBy]="groupByNumberInSeason"
               formControlName="competition_id"
               [searchable]="false"
               [clearable]="false"
            >
            </ng-select>
         </div>
         <div *ngIf="cupStagesByCompetitionId[competitionIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="cup_stage_id" class="font-weight-bold">Стадія:</label>
            <ng-select
               id="cup_stage_id"
               formControlName="cup_stage_id"
               [items]="cupStagesByCompetitionId[competitionIdFormValue] || []"
               bindValue="id"
               bindLabel="title"
               placeholder="Оберіть стадію"
               [searchable]="false"
               [clearable]="false"
               (change)="submit()"
            >
            </ng-select>
         </div>
         <div
            *ngIf="cupStageIdFormValue"
            class="form-group d-flex align-items-end col-12 col-md-6 col-lg-4 col-xl-3 offset-0 offset-lg-8 offset-xl-0"
         ></div>
      </div>
   </form>
</div>
