<form novalidate [formGroup]="cupStageSelectForm" class="bg-white border rounded blue-shadow p-2">
   <div class="form-row">
      <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="season_id" class="font-weight-bold">Сезон:</label>
         <select id="season_id" class="form-control" formControlName="season_id">
            <option [ngValue]="null" disabled>Виберіть сезон</option>
            <option *ngFor="let season of seasons" [value]="season.id">{{ season.title }}</option>
         </select>
      </div>
      <div *ngIf="competitionsBySeasonId[seasonIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="competition_id" class="font-weight-bold">Змагання:</label>
         <select id="competition_id" class="form-control" formControlName="competition_id">
            <option [ngValue]="null" disabled>Виберіть змагання</option>
            <option *ngFor="let competition of competitionsBySeasonId[seasonIdFormValue]" [value]="competition.id">
               {{ competition.title }}
            </option>
         </select>
      </div>
      <div *ngIf="cupStagesByCompetitionId[competitionIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="cup_stage_id" class="font-weight-bold">Стадія:</label>
         <select id="cup_stage_id" class="form-control" formControlName="cup_stage_id">
            <option [ngValue]="null" disabled>Виберіть стадію</option>
            <option *ngFor="let cupStage of cupStagesByCompetitionId[competitionIdFormValue]" [value]="cupStage.id">
               {{ cupStage.title }}
            </option>
         </select>
      </div>
      <div
         *ngIf="cupStageIdFormValue"
         class="form-group d-flex align-items-end col-12 col-md-6 col-lg-4 col-xl-3 offset-0 offset-lg-8 offset-xl-0"
      >
         <button (click)="submit()" class="btn btn-primary text-nowrap" type="button">
            <i class="fa fa-search"></i>
            Показати Матчі
         </button>
      </div>
   </div>
</form>
