<div class="m-2">
   <h2 class="h2">Керування матчами чемпіонату:</h2>
   <button routerLink="/manage/championship/matches" type="button" class="btn btn-dark">
      <i class="fa fa-table" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Таблиця матчів чемпіонату</span>
   </button>
   <button routerLink="/manage/championship/matches/create" type="button" class="btn btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Створити матч чемпіонату</span>
   </button>
</div>
<router-outlet></router-outlet>
