<div class="card cursor-pointer list-group-item-action" (click)="toggleDetailsVisibility()">
   <div class="card-body">
      <div class="row" title="Натисніть для більш детальної інформації">
         <div class="col-4 col-sm-5 text-right">
            <strong class="d-none d-sm-inline">{{ teamTeamMatch.home_team.name }}</strong>
            <small class="d-sm-none">{{ teamTeamMatch.home_team.name }}</small>
            <div class="d-none d-sm-inline ml-1">
               <app-team-logo [team]="teamTeamMatch.home_team"></app-team-logo>
            </div>
         </div>
         <div class="col-4 col-sm-2 text-center">
            <strong *ngIf="teamTeamMatch.home !== null">{{ teamTeamMatch.home }} : {{ teamTeamMatch.away }}</strong>
            <span *ngIf="teamTeamMatch.home === null">vs</span>
            <br class="d-sm-none" />
            <i [hidden]="detailsExpanded || spinnerTeamMatches" class="fa fa-chevron-down fa-lg text-primary d-sm-none"></i>
            <i [hidden]="!detailsExpanded || spinnerTeamMatches" class="fa fa-chevron-up fa-lg text-primary d-sm-none"></i>
            <i [hidden]="!spinnerTeamMatches" class="fa fa-spinner fa-spin fa-lg text-primary d-sm-none"></i>
         </div>
         <div class="col-4 col-sm-5 text-left">
            <div class="d-none d-sm-inline mr-1">
               <app-team-logo [team]="teamTeamMatch.away_team"></app-team-logo>
            </div>
            <small class="d-sm-none">{{ teamTeamMatch.away_team.name }}</small>
            <strong class="d-none d-sm-inline">{{ teamTeamMatch.away_team.name }}</strong>
            <i
               [hidden]="detailsExpanded || spinnerTeamMatches"
               class="pull-right fa fa-chevron-down fa-lg text-primary d-none d-sm-inline"
            ></i>
            <i
               [hidden]="!detailsExpanded || spinnerTeamMatches"
               class="pull-right fa fa-chevron-up fa-lg text-primary d-none d-sm-inline"
            ></i>
            <i [hidden]="!spinnerTeamMatches" class="pull-right fa fa-spinner fa-spin fa-lg fa-fw text-primary d-none d-sm-inline"></i>
            <span class="sr-only">Loading...</span>
         </div>
      </div>
   </div>
</div>
<div [hidden]="!detailsExpanded" [ngClass]="{ 'mt-1': teamMatchesForTemplate.length }">
   <!-- no team matches -->
   <app-info *ngIf="!spinnerTeamMatches && !teamMatchesForTemplate.length" [message]="noTeamMatches"></app-info>
   <div class="row">
      <div *ngIf="teamMatchesForTemplate.length" class="col-12">
         <!-- team-team match details -->
         <table class="table table-sm table-bordered mb-1">
            <tr>
               <td class="text-center align-middle">
                  {{ teamTeamMatch.home_points ? teamTeamMatch.home_points : 0 }} /
                  {{ teamTeamMatch.home_dc_sum ? teamTeamMatch.home_dc_sum : '0.000' }}
               </td>
               <td class="text-center text-muted">
                  <small>Очки / <abbr title="Коефіцієнт складноті">КС</abbr> за схемою чемпіонату</small>
               </td>
               <td class="text-center align-middle">
                  {{ teamTeamMatch.away_points ? teamTeamMatch.away_points : 0 }} /
                  {{ teamTeamMatch.away_dc_sum ? teamTeamMatch.away_dc_sum : '0.000' }}
               </td>
            </tr>
            <tr>
               <td class="text-center" [ngClass]="{ 'font-weight-bold': teamTeamMatch.home_team_goalkeeper_id }">
                  <div *ngIf="teamTeamMatch.home_team_goalkeeper_id" class="d-none d-lg-inline">
                     <!-- check if goalkeeper info is present  -->
                     <app-user-logo [user]="teamTeamMatch.home_team_goalkeeper"></app-user-logo>
                  </div>
                  {{ teamTeamMatch.home_team_goalkeeper_id ? teamTeamMatch.home_team_goalkeeper.name : '-' }}
               </td>
               <td class="text-center text-muted align-middle"><small>Воротар</small></td>
               <td class="text-center" [ngClass]="{ 'font-weight-bold': teamTeamMatch.home_team_goalkeeper_id }">
                  {{ teamTeamMatch.away_team_goalkeeper_id ? teamTeamMatch.away_team_goalkeeper.name : '-' }}
                  <div *ngIf="teamTeamMatch.away_team_goalkeeper" class="d-none d-lg-inline">
                     <app-user-logo [user]="teamTeamMatch.away_team_goalkeeper"></app-user-logo>
                  </div>
               </td>
            </tr>
         </table>
         <table class="table table-sm table-bordered table-striped table-hover mb-1">
            <thead>
               <tr>
                  <th class="text-muted text-center" title="Прогноз першої команди">
                     <small class="d-none d-sm-inline">Прогноз</small>
                     <small class="d-sm-none">П.</small>
                  </th>
                  <th class="text-muted text-center" title="Прогнозист першої команди">
                     <small class="d-none d-sm-inline">Гравець</small>
                     <small class="d-sm-none">Г.</small>
                  </th>
                  <th class="text-muted text-right" title="Господарі">
                     <i class="fa fa-home d-lg-none pr-1" aria-hidden="true"></i>
                     <small class="d-none d-lg-inline">Господарі</small>
                  </th>
                  <th class="text-muted text-center" title="Результат матчу">
                     <small class="d-none d-xl-inline">Результат</small>
                     <small class="d-none d-lg-inline d-xl-none">Р.</small>
                     <i class="fa fa-soccer-ball-o d-lg-none" aria-hidden="true"></i>
                  </th>
                  <th class="text-muted text-left" title="Гості">
                     <i class="fa fa-plane d-lg-none pl-1" aria-hidden="true"></i>
                     <small class="d-none d-lg-inline">Гості</small>
                  </th>
                  <th class="text-muted text-center" title="Прогнозист другої команди">
                     <small class="d-none d-sm-inline">Гравець</small>
                     <small class="d-sm-none">Г.</small>
                  </th>
                  <th class="text-muted text-center" title="Прогноз другої комади">
                     <small class="d-none d-sm-inline">Прогноз</small>
                     <small class="d-sm-none">П.</small>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let teamMatch of teamMatchesForTemplate">
                  <td
                     colspan="2"
                     class="p-0 align-middle"
                     [ngClass]="{
                        'bg-success': teamMatch.homePrediction.guessed && !teamMatch.homePrediction.blocked,
                        'bg-danger': teamMatch.homePrediction.blocked
                     }"
                  >
                     <app-custom-content-with-tooltip [tooltipText]="teamMatch.homePredictionTitle" [placement]="'right'">
                        <table class="w-100">
                           <tr *ngIf="teamMatch.teamMatch.are_predictions_viewable" class="text-center bg-transparent">
                              <td class="w-50 border-left-0 border-top-0 border-bottom-0 text-nowrap align-middle">
                                 <span class="d-none d-sm-inline">{{
                                    teamMatch.homePrediction.prediction?.predicted_at
                                       ? teamMatch.homePrediction.prediction.home + ' : ' + teamMatch.homePrediction.prediction.away
                                       : '-'
                                 }}</span>
                                 <small class="d-sm-none">{{
                                    teamMatch.homePrediction.prediction?.predicted_at
                                       ? teamMatch.homePrediction.prediction.home + ':' + teamMatch.homePrediction.prediction.away
                                       : '-'
                                 }}</small>
                              </td>
                              <td class="w-50 border-right-0 border-top-0 border-bottom-0 align-middle">
                                 <span class="d-none d-sm-inline">{{
                                    teamMatch.homePrediction.prediction?.user_id ? teamMatch.homePrediction.prediction.user.name : '-'
                                 }}</span>
                                 <div *ngIf="teamMatch.homePrediction.prediction?.user_id" class="d-sm-none">
                                    <app-user-logo [user]="teamMatch.homePrediction.prediction.user"></app-user-logo>
                                 </div>
                              </td>
                           </tr>
                           <tr *ngIf="!teamMatch.teamMatch.are_predictions_viewable" class="text-center bg-transparent">
                              <td colspan="2" class="text-muted border-0">
                                 <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 <span class="d-none d-sm-inline">Приховано</span>
                              </td>
                           </tr>
                        </table>
                     </app-custom-content-with-tooltip>
                  </td>
                  <td class="align-middle text-right">
                     <span
                        *ngIf="teamMatch.homePrediction.guessed && !teamMatch.homePrediction.blocked"
                        class="pull-left text-success d-none d-lg-inline"
                     >
                        <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                     </span>
                     <span
                        *ngIf="!teamMatch.homePrediction.guessed && teamMatch.homePrediction.blocked"
                        class="pull-left text-danger d-none d-lg-inline"
                        title=""
                     >
                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i>
                     </span>
                     <span
                        *ngIf="teamMatch.homePrediction.guessed && teamMatch.homePrediction.blocked"
                        class="pull-left d-none d-lg-inline"
                     >
                        <span class="fa-stack">
                           <i class="fa fa-check-circle fa-stack-1x text-success"></i>
                           <i class="fa fa-ban fa-stack-2x text-danger"></i>
                        </span>
                     </span>
                     <small class="d-none d-lg-inline d-xl-none">{{ teamMatch.teamMatch.match.club_home.title }}</small>
                     <span class="d-none d-xl-inline">{{ teamMatch.teamMatch.match.club_home.title }}</span>
                     <app-club-logo [club]="teamMatch.teamMatch.match.club_home"></app-club-logo>
                  </td>
                  <td class="align-middle text-center">
                     <strong>
                        <app-prediction-with-tooltip
                           [componentText]="
                              teamMatch.teamMatch.match.home !== null
                                 ? teamMatch.teamMatch.match.home + ' : ' + teamMatch.teamMatch.match.away
                                 : 'vs'
                           "
                           [tooltipText]="teamMatch.teamMatch.match.started_at"
                           [placement]="'top'"
                        >
                        </app-prediction-with-tooltip>
                     </strong>
                  </td>
                  <td class="align-middle text-left">
                     <app-club-logo [club]="teamMatch.teamMatch.match.club_away"></app-club-logo>
                     <small class="d-none d-lg-inline d-xl-none">{{ teamMatch.teamMatch.match.club_away.title }}</small>
                     <span class="d-none d-xl-inline">{{ teamMatch.teamMatch.match.club_away.title }}</span>
                     <span
                        *ngIf="teamMatch.awayPrediction.guessed && !teamMatch.awayPrediction.blocked"
                        class="pull-right text-success d-none d-lg-inline"
                     >
                        <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                     </span>
                     <span
                        *ngIf="!teamMatch.awayPrediction.guessed && teamMatch.awayPrediction.blocked"
                        class="pull-right text-danger d-none d-lg-inline"
                     >
                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i>
                     </span>
                     <span
                        *ngIf="teamMatch.awayPrediction.guessed && teamMatch.awayPrediction.blocked"
                        class="pull-right d-none d-lg-inline"
                     >
                        <span class="fa-stack">
                           <i class="fa fa-check-circle fa-stack-1x text-success"></i>
                           <i class="fa fa-ban fa-stack-2x text-danger"></i>
                        </span>
                     </span>
                  </td>
                  <td
                     colspan="2"
                     class="p-0 align-middle"
                     [ngClass]="{
                        'bg-success': teamMatch.awayPrediction.guessed && !teamMatch.awayPrediction.blocked,
                        'bg-danger': teamMatch.awayPrediction.blocked
                     }"
                  >
                     <app-custom-content-with-tooltip [tooltipText]="teamMatch.awayPredictionTitle" [placement]="'left'">
                        <table class="w-100">
                           <tr *ngIf="teamMatch.teamMatch.are_predictions_viewable" class="text-center bg-transparent">
                              <td class="w-50 border-left-0 border-top-0 border-bottom-0 align-middle">
                                 <span class="d-none d-sm-inline">{{
                                    teamMatch.awayPrediction.prediction?.user_id ? teamMatch.awayPrediction.prediction.user.name : '-'
                                 }}</span>
                                 <div *ngIf="teamMatch.awayPrediction.prediction?.user_id" class="d-sm-none">
                                    <app-user-logo [user]="teamMatch.awayPrediction.prediction.user"></app-user-logo>
                                 </div>
                              </td>
                              <td class="w-50 border-right-0 border-top-0 border-bottom-0 text-nowrap align-middle">
                                 <span class="d-none d-sm-inline">{{
                                    teamMatch.awayPrediction.prediction?.predicted_at
                                       ? teamMatch.awayPrediction.prediction.home + ' : ' + teamMatch.awayPrediction.prediction.away
                                       : '-'
                                 }}</span>
                                 <small class="d-sm-none">{{
                                    teamMatch.awayPrediction.prediction?.predicted_at
                                       ? teamMatch.awayPrediction.prediction.home + ':' + teamMatch.awayPrediction.prediction.away
                                       : '-'
                                 }}</small>
                              </td>
                           </tr>
                           <tr *ngIf="!teamMatch.teamMatch.are_predictions_viewable" class="text-center bg-transparent">
                              <td colspan="2" class="text-muted border-0">
                                 <span class="d-none d-sm-inline">Приховано</span>
                                 <i class="fa fa-question-circle" aria-hidden="true"></i>
                              </td>
                           </tr>
                        </table>
                     </app-custom-content-with-tooltip>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
