<form novalidate [formGroup]="competitionForm" (ngSubmit)="onSubmit()">
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('title'))">
            <label class="form-control-label" for="title"><strong>Назва:</strong></label>
            <input type="text" id="title" class="form-control" formControlName="title" />
            <div [hidden]="!showFormErrorMessage(competitionForm.get('title'), 'required')" class="error-message">
               <small>Назва змагання обов'язкова</small>
            </div>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('title'), 'minlength')" class="error-message">
               <small>Назва повинна бути більшою ніж 10 символів</small>
            </div>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('title'), 'maxlength')" class="error-message">
               <small>Назва перевищує 50 символів</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div *ngIf="seasons" class="form-group" [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('season_id'))">
            <label class="form-control-label" for="season_id"><strong>Сезон:</strong></label>
            <select id="season_id" class="form-control" formControlName="season_id">
               <option *ngFor="let season of seasons" [value]="season.id">{{ season.title }}</option>
            </select>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('season_id'), 'required')" class="error-message">
               <small>Сезон обов'язковий</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div
            *ngIf="tournaments"
            class="form-group"
            [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('tournament_id'))"
         >
            <label class="form-control-label" for="tournament_id"><strong>Турнір:</strong></label>
            <select id="tournament_id" class="form-control" formControlName="tournament_id">
               <option *ngFor="let tournament of tournaments" [value]="tournament.id">{{ tournament.title }}</option>
            </select>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('tournament_id'), 'required')" class="error-message">
               <small>Турнір обов'язковий</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('state'))">
            <label for="'state'" class="font-weight-bold">Cтатус змагання:</label>
            <div>
               <div class="form-check form-check-inline">
                  <input
                     class="form-check-input cursor-pointer"
                     formControlName="state"
                     type="radio"
                     name="state"
                     [id]="competitionStates.NotStarted"
                     [value]="competitionStates.NotStarted"
                  />
                  <label class="form-check-label cursor-pointer mr-2" [for]="competitionStates.NotStarted"> Не почато </label>
                  <input
                     class="form-check-input cursor-pointer"
                     formControlName="state"
                     type="radio"
                     name="state"
                     [id]="competitionStates.Applications"
                     [value]="competitionStates.Applications"
                  />
                  <label class="form-check-label cursor-pointer mr-2" [for]="competitionStates.Applications"> Заявки </label>
                  <input
                     class="form-check-input cursor-pointer"
                     formControlName="state"
                     type="radio"
                     name="state"
                     [id]="competitionStates.Active"
                     [value]="competitionStates.Active"
                  />
                  <label class="form-check-label cursor-pointer mr-2" [for]="competitionStates.Active"> Активна </label>
                  <input
                     class="form-check-input cursor-pointer"
                     formControlName="state"
                     type="radio"
                     name="state"
                     [id]="competitionStates.Ended"
                     [value]="competitionStates.Ended"
                  />
                  <label class="form-check-label cursor-pointer mr-2" [for]="competitionStates.Ended"> Завершена </label>
               </div>
            </div>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('state'), 'required')" class="error-message">
               <small>Тип кубкової стадії обов'язковий</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('number_in_season'))">
            <label class="form-control-label" for="number_in_season"><strong>Номер в сезоні:</strong></label>
            <input type="number" id="number_in_season" class="form-control" formControlName="number_in_season" />
            <div [hidden]="!showFormErrorMessage(competitionForm.get('number_in_season'), 'required')" class="error-message">
               <small>Номер в сезоні обовʼязковий</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4">
         <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(competitionForm.get('config'))">
            <label for="config" class="font-weight-bold">Конфігурація:</label>
            <textarea id="config" formControlName="config" autocomplete="off" rows="3" class="form-control"> </textarea>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('config'), 'required')" class="error-message">
               <small>Конфігурація обовʼязкова</small>
            </div>
            <div [hidden]="!showFormErrorMessage(competitionForm.get('config'), 'invalidJson')" class="error-message">
               <small>Конфігурація повинна бути JSON-формату</small>
            </div>
         </div>
      </div>
   </div>
   <div class="form-row">
      <div class="col-12 col-md-6 col-lg-4 offset-0 offset-md-3 offset-lg-4 d-flex justify-content-end">
         <button [hidden]="competitionForm.disabled" type="submit" class="btn btn-primary">
            {{ competition ? 'Змінити' : 'Зберегти' }}
         </button>
      </div>
   </div>
</form>
