<nav class="navbar navbar-expand navbar-dark bg-dark">
   <a class="navbar-brand mr-auto d-none d-md-block" routerLink="/">Prognoz.org.ua</a>
   <div *ngIf="!user" class="form-inline ml-auto ml-2">
      <div class="btn-group ml-2" role="group" aria-label="header-buttons">
         <button routerLink="/signin" class="btn btn-light"><i class="fa fa-sign-in" aria-hidden="true"></i> Вхід</button>
         <button routerLink="/signup" class="btn btn-outline-light"><i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація</button>
         <button routerLink="/recovery" class="btn btn-outline-light">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span class="d-none d-sm-inline">Забули пароль</span>
         </button>
      </div>
   </div>
   <div *ngIf="user" class="form-inline ml-auto">
      <div class="btn-group" role="group" aria-label="user buttons">
         <button *ngIf="user" routerLink="/me" class="btn btn-light">
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ user.name }}
         </button>
         <button *ngIf="user.roles?.length" routerLink="/manage" class="btn btn-outline-light">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="d-none d-sm-inline">Керування</span>
         </button>
         <button (click)="logout()" class="btn btn-outline-danger">
            <i class="fa fa-sign-out" aria-hidden="true"></i> <span class="d-none d-sm-inline">Вихід</span>
         </button>
      </div>
   </div>
</nav>
<div #logoBackground class="container-fluid logo-background">
   <div class="row">
      <div class="col">
         <a routerLink="/">
            <img src="/assets/img/logo.png" class="img-fluid logo-image" alt="prognoz.org.ua" />
         </a>
      </div>
   </div>
</div>
<nav class="d-none d-sm-flex navbar navbar-dark bg-dark justify-content-center mb-2">
   <ul class="nav nav-pills nav-fill justify-content-center">
      <li *ngFor="let navigationItem of navigationItems" class="nav-item">
         <a [routerLink]="navigationItem.link" routerLinkActive="btn-warning text-dark" class="btn btn-block font-weight-bold">
            {{ navigationItem.label }}
         </a>
      </li>
   </ul>
</nav>
<nav class="d-flex d-sm-none navbar navbar-dark bg-dark justify-content-center mb-2">
   <div class="container">
      <div class="row justify-content-center">
         <div *ngFor="let navigationItem of navigationItems" class="col-6">
            <a class="btn btn-sm btn-block font-weight-bold" routerLinkActive="btn-warning text-dark" [routerLink]="navigationItem.link">
               {{ navigationItem.label }}
            </a>
         </div>
      </div>
   </div>
</nav>
