.logo-background {
   background-size: cover;
   background-position: center;
   text-align: center;

   .logo-image {
      -webkit-filter: drop-shadow(5px 5px 15px black);
      filter: drop-shadow(5px 5px 15px black);
   }
}
