<div class="m-2">
   <h2 class="h2">Керування учасниками:</h2>
   <button routerLink="/manage/team/participants" type="button" class="btn btn-dark">
      <i class="fa fa-table" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Таблиця учасників</span>
   </button>
   <button routerLink="/manage/team/participants/create" type="button" class="btn btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Створити учасника</span>
   </button>
</div>
<router-outlet></router-outlet>
