<form novalidate [formGroup]="teamMatchForm" (ngSubmit)="onSubmit()" class="bg-white p-2 pl-lg-5 pr-lg-5">
   <div class="form-row">
      <div class="col-12 col-md-6">
         <app-match-select [fGroup]="teamMatchForm" [match]="teamMatch?.match"></app-match-select>
      </div>
      <div class="col-12 col-md-6">
         <div *ngIf="competitions" formArrayName="competitions" class="mb-2">
            <label class="font-weight-bold">
               Змагання ({{ competitionsFormArray.controls.length }}) | Раунд | Номер в раунді | Номер в змаганні:
            </label>
            <div [hidden]="teamMatchForm.disabled" class="mb-2">
               <button type="button" class="btn btn-outline-success" (click)="addCompetition()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  Добавити
               </button>
            </div>
            <div
               *ngFor="let competitionFormGroup of competitionsFormArray.controls; let i = index"
               [formGroup]="competitionFormGroup"
               class="form-row mb-2"
            >
               <div class="col d-flex align-items-center justify-content-end">{{ i + 1 }}.</div>
               <div class="col-4">
                  <div
                     class="form-group mb-0"
                     [class.form-group-invalid]="showFormInvalidClass(competitionFormGroup.get('competition_id'))"
                  >
                     <select id="competition_id" class="form-control" formControlName="competition_id">
                        <option *ngFor="let competition of competitions" [value]="competition.id">
                           {{ competition.title }}
                        </option>
                     </select>
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('competition_id'), 'required')" class="error-message">
                        <small>Виберіть змагання зі списку або видаліть це поле</small>
                     </div>
                  </div>
               </div>
               <div class="col-2">
                  <div class="form-group mb-0" [class.form-group-invalid]="showFormInvalidClass(competitionFormGroup.get('round'))">
                     <input type="number" id="round" class="form-control" formControlName="round" />
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('round'), 'required')" class="error-message">
                        <small>Раунд обов'язковий</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('round'), 'min')" class="error-message">
                        <small>Мінімальне значення: 1</small>
                     </div>
                  </div>
               </div>
               <div class="col-2">
                  <div
                     class="form-group mb-0"
                     [class.form-group-invalid]="showFormInvalidClass(competitionFormGroup.get('number_in_round'))"
                  >
                     <input type="number" id="number_in_round" class="form-control" formControlName="number_in_round" />
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('number_in_round'), 'required')" class="error-message">
                        <small>Номер в раунді обов'язковий</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('number_in_round'), 'min')" class="error-message">
                        <small>Мінімальне значення: 1</small>
                     </div>
                  </div>
               </div>
               <div class="col-2">
                  <div
                     class="form-group mb-0"
                     [class.form-group-invalid]="showFormInvalidClass(competitionFormGroup.get('number_in_competition'))"
                  >
                     <input type="number" id="number_in_competition" class="form-control" formControlName="number_in_competition" />
                     <div
                        [hidden]="!showFormErrorMessage(competitionFormGroup.get('number_in_competition'), 'required')"
                        class="error-message"
                     >
                        <small>Номер в раунді обов'язковий</small>
                     </div>
                     <div [hidden]="!showFormErrorMessage(competitionFormGroup.get('number_in_competition'), 'min')" class="error-message">
                        <small>Мінімальне значення: 1</small>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <button
                     [hidden]="teamMatchForm.disabled"
                     type="button"
                     title="Видалити"
                     class="btn btn-danger"
                     (click)="removeCompetition(i)"
                  >
                     <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div [hidden]="teamMatchForm.disabled" class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-danger" (click)="openConfirmModal(confirmModal, null, resetTeamMatchForm)">
         <i class="fa fa-refresh" aria-hidden="true"></i>
         Відмінити зміни
      </button>
      <button type="submit" class="btn btn-primary">
         <i class="fa fa-check-circle-o" aria-hidden="true"></i>
         {{ teamMatch ? 'Змінити' : 'Зберегти' }}
      </button>
   </div>
</form>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal [close]="c" [message]="'Очистити форму від змін?'" (confirmed)="openedModal.submitted($event)">
   </app-confirmation-modal>
</ng-template>
