<div class="card p-2 pl-lg-5 pr-lg-5">
   <form novalidate [formGroup]="teamMatchForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
         <div class="col-12 col-md-6">
            <app-match-select
               [fGroup]="teamMatchForm"
               [match]="teamMatch?.match"
               [tournamentMatchesObservable]="teamMatchesObservable"
               [createdMatchId]="lastCreatedMatchId"
            >
            </app-match-select>
         </div>
         <div class="col-12 col-md-6">
            <div *ngIf="teamStages" formArrayName="team_stages" class="mb-2">
               <label class="font-weight-bold">Командні стадії ({{ teamStagesFormArray.controls.length }}):</label>
               <div [hidden]="teamMatchForm.disabled" class="mb-2">
                  <button type="button" class="btn btn-outline-success" (click)="addTeamStage()">
                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                     Добавити
                  </button>
               </div>
               <div
                  *ngFor="let teamStageFormGroup of teamStagesFormArray.controls; let i = index"
                  [formGroup]="teamStageFormGroup"
                  class="form-row mb-2"
               >
                  <div class="col d-flex align-items-center justify-content-end">{{ i + 1 }}.</div>
                  <div class="col-9">
                     <div class="form-group mb-0" [class.form-group-invalid]="showFormInvalidClass(teamStageFormGroup.get('id'))">
                        <select id="id" class="form-control" formControlName="id">
                           <option *ngFor="let teamStage of teamStages" [value]="teamStage.id">
                              {{ teamStage.title }} ({{ teamStage.round }}) | {{ teamStage.competition?.title }}
                           </option>
                        </select>
                        <div [hidden]="!showFormErrorMessage(teamStageFormGroup.get('id'), 'required')" class="error-message">
                           <small>Виберіть стадію зі списку або видаліть це поле</small>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <button
                        [hidden]="teamMatchForm.disabled"
                        type="button"
                        title="Видалити"
                        class="btn btn-danger"
                        (click)="removeTeamStage(i)"
                     >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div [hidden]="teamMatchForm.disabled" class="d-flex justify-content-between">
         <button type="button" class="btn btn-outline-danger" (click)="openConfirmModal(confirmModal, null, resetTeamMatchForm)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Відмінити зміни
         </button>
         <button type="submit" class="btn btn-primary">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            {{ teamMatch ? 'Змінити' : 'Зберегти' }}
         </button>
      </div>
   </form>
</div>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal [close]="c" [message]="'Очистити форму від змін?'" (confirmed)="openedModal.submitted($event)">
   </app-confirmation-modal>
</ng-template>
