<div class="m-2">
   <h2 class="h2">Керування чемпіонатом:</h2>
   <a routerLink="/manage" class="btn btn-outline-primary">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Назад</span>
   </a>
   <a
      routerLink="/manage/championship/matches"
      [routerLinkActive]="['btn-primary']"
      [routerLinkActiveOptions]="{ exact: false }"
      class="btn"
   >
      <i class="fa fa-square" aria-hidden="true"></i>
      <span class="d-none d-sm-inline">Матчі</span>
   </a>
</div>
<router-outlet></router-outlet>
