<app-competition-select-new (competitionSelected)="competitionSelected($event)"></app-competition-select-new>
<div *ngIf="competition" class="card shadow mb-2">
   <div class="card-header">
      {{ competition.title }}
   </div>
   <div class="card-body">
      <table class="table table-sm table-striped table-bordered mb-0">
         <tr>
            <td class="align-middle">Статус</td>
            <td class="text-center">
               <ng-container *ngTemplateOutlet="teamCompetitionState; context: { $implicit: competition }"></ng-container>
            </td>
         </tr>
         <tr>
            <td>Кількість заявлених команд</td>
            <td class="text-center align-middle">{{ teams.length }}</td>
         </tr>
         <tr>
            <td>Кількість підтверджених команд</td>
            <td class="text-center align-middle">{{ numberOfConfirmedTeams }}</td>
         </tr>
      </table>
   </div>
</div>
<div [hidden]="!showCreateTeamButton" class="mb-2">
   <button
      type="button"
      class="btn btn-primary mb-1 mb-sm-0"
      [routerLink]="['/', 'team', 'create', { createParticipantForCompetition: competition?.id }]"
   >
      <i class="fa fa-plus-circle"></i> Створити нову команду
   </button>
   <button (click)="openTeamSelectModal(teamSelectModal)" type="button" class="btn btn-outline-primary mb-1 mb-sm-0">
      <i class="fa fa-plus-circle"></i> Заявити команду
   </button>
</div>
<div *ngIf="teams" class="shadow">
   <ul class="list-group">
      <li
         *ngFor="let team of teams"
         class="list-group-item"
         [ngClass]="{ 'list-group-item-info': currentUserTeamId && currentUserTeamId === team.id }"
      >
         <app-team-and-participants
            [team]="team"
            [competition]="competition"
            [allUserApplications]="allUserApplications"
            (teamParticipantCreated)="teamParticipantCreated()"
         >
         </app-team-and-participants>
      </li>
   </ul>
</div>
<ng-template #teamCompetitionState let-competition>
   <span *ngIf="!competition.stated && !competition.active && !competition.ended">Майбутнє змагання</span>
   <span *ngIf="competition.stated">Відкрито подачу заявок</span>
   <span *ngIf="competition.active">Активне змагання</span>
   <span *ngIf="competition.ended">Завершене змагання</span>
</ng-template>
<ng-template #teamSelectModal let-c="close">
   <app-team-select-modal [close]="c" (submitted)="teamSelected($event)"> </app-team-select-modal>
</ng-template>
