<div class="container">
   <div class="row">
      <div class="col">
         <h2 class="h2">Таблиця кубок-матчів:</h2>
      </div>
   </div>
   <div *ngIf="cupCupMatches" class="row">
      <div class="col-12">
         <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover mb-0">
               <thead class="thead-dark">
                  <tr class="text-center">
                     <th scope="col">Id</th>
                     <th scope="col">Змагання: Назва Стадії</th>
                     <th scope="col">Гравці</th>
                     <th scope="col">Результат</th>
                     <th scope="col">Рейтингові очки</th>
                     <th scope="col">Очки</th>
                     <th scope="col">КС</th>
                     <th scope="col" title="Активний">А.</th>
                     <th scope="col" title="Завершений">З.</th>
                     <th scope="col">Дія</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let cupCupMatch of cupCupMatches" class="text-center">
                     <th scope="row" class="align-middle">{{ cupCupMatch.id }}</th>
                     <td class="text-nowrap">
                        {{ cupCupMatch.cup_stage.competition.title }}:<br />
                        <strong>{{ cupCupMatch.cup_stage.title }}</strong>
                        {{ cupCupMatch.group_number ? ' Група ' + cupCupMatch.group_number : '' }}
                     </td>
                     <td class="text-nowrap align-middle">
                        <app-user-logo-with-tooltip [user]="cupCupMatch.home_user"></app-user-logo-with-tooltip>
                        {{ cupCupMatch.home_user.name + ' - ' + cupCupMatch.away_user.name }}
                        <app-user-logo-with-tooltip [user]="cupCupMatch.away_user"></app-user-logo-with-tooltip>
                     </td>
                     <td class="text-nowrap align-middle font-weight-bold">
                        {{ isScore(cupCupMatch.home, cupCupMatch.away) ? cupCupMatch.home + ':' + cupCupMatch.away : '' }}
                     </td>
                     <td class="text-nowrap align-middle">
                        {{ cupCupMatch.ended ? cupCupMatch.home_rating_points + ' / ' + cupCupMatch.away_rating_points : '' }}
                     </td>
                     <td class="text-nowrap align-middle">
                        {{ isScore(cupCupMatch.home, cupCupMatch.away) ? cupCupMatch.home_points + ' / ' + cupCupMatch.away_points : '' }}
                     </td>
                     <td class="text-nowrap align-middle">
                        {{ isScore(cupCupMatch.home, cupCupMatch.away) ? cupCupMatch.home_dc_sum + ' / ' + cupCupMatch.away_dc_sum : '' }}
                     </td>
                     <td class="align-middle">
                        <i *ngIf="cupCupMatch.active" class="text-success fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        <i *ngIf="!cupCupMatch.active" class="text-danger fa fa-times fa-lg" aria-hidden="true"></i>
                     </td>
                     <td class="align-middle">
                        <i *ngIf="cupCupMatch.ended" class="text-success fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        <i *ngIf="!cupCupMatch.ended" class="text-danger fa fa-times fa-lg" aria-hidden="true"></i>
                     </td>
                     <td class="text-nowrap align-middle">
                        <button
                           [hidden]="cupCupMatch.ended"
                           routerLink="/manage/cup/cup-matches/{{ cupCupMatch.id }}/edit"
                           type="button"
                           class="btn btn-sm btn-warning"
                        >
                           <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                        </button>
                        <button
                           [hidden]="cupCupMatch.ended"
                           type="button"
                           class="btn btn-sm btn-danger"
                           (click)="openConfirmModal(confirmModal, cupCupMatch)"
                        >
                           <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        </button>
                        <button [hidden]="!cupCupMatch.ended" disabled class="btn btn-sm btn-outline-secondary">
                           <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <app-error *ngIf="errorCupCupMatches" [message]="errorCupCupMatches"></app-error>
   <app-pagination *ngIf="cupCupMatches" [totalItems]="total" [currentPage]="currentPage" [pageSize]="perPage" [path]="path">
   </app-pagination>
</div>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal [close]="c" [message]="confirmModalMessage" (confirmed)="confirmModalSubmit($event)"> </app-confirmation-modal>
</ng-template>
