<div class="card p-2 pl-lg-5 pr-lg-5">
   <form novalidate [formGroup]="teamParticipantForm" (ngSubmit)="submit()">
      <div class="form-row">
         <div class="col-12 col-md-6">
            <div
               *ngIf="competitions"
               class="form-group"
               [class.form-group-invalid]="showFormInvalidClass(teamParticipantForm.get('competition_id'))"
            >
               <label for="competition_id" class="font-weight-bold">Змагання:</label>
               <select id="competition_id" class="form-control" formControlName="competition_id">
                  <option *ngFor="let competition of competitions" [value]="competition.id">{{ competition.title }}</option>
               </select>
               <div [hidden]="!showFormErrorMessage(teamParticipantForm.get('competition_id'), 'required')" class="error-message">
                  <small>Змагання обов'язкове</small>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(teamParticipantForm.get('team_id'))">
               <label [attr.for]="'team_id'" class="font-weight-bold">Команда:</label>
               <app-team-select [formGroup]="teamParticipantForm" [teamsList]="team ? [team] : []"></app-team-select>
               <div [hidden]="!showFormErrorMessage(teamParticipantForm.get('team_id'), 'required')" class="error-message">
                  <small>Команда обов'язкова</small>
               </div>
            </div>
         </div>
      </div>
      <div class="form-row">
         <div class="col-12 col-md-6">
            <div class="form-group" [class.form-group-invalid]="showFormInvalidClass(teamParticipantForm.get('user_id'))">
               <label [attr.for]="'user_id'" class="font-weight-bold">Заявник:</label>
               <app-user-select formControlName="user_id" [usersList]="user ? [user] : []"></app-user-select>
               <div [hidden]="!showFormErrorMessage(teamParticipantForm.get('user_id'), 'required')" class="error-message">
                  <small>Заявник обов'язковий</small>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6 mb-2">
            <div class="pt-0 pt-md-4">
               <app-checkbox [formGroup]="teamParticipantForm" [fControlName]="'captain'" [label]="'Капітан команди'"></app-checkbox>
            </div>
         </div>
      </div>
      <div class="form-row">
         <div class="col-12 col-md-4 mb-2">
            <app-checkbox [formGroup]="teamParticipantForm" [fControlName]="'refused'" [label]="'Заявку відхилено'"></app-checkbox>
         </div>
         <div class="col-12 col-md-4 mb-2">
            <app-checkbox [formGroup]="teamParticipantForm" [fControlName]="'confirmed'" [label]="'Заявку підтверджено'"></app-checkbox>
         </div>
         <div class="col-12 col-md-4 mb-2">
            <app-checkbox [formGroup]="teamParticipantForm" [fControlName]="'ended'" [label]="'Заявка завершена'"></app-checkbox>
         </div>
      </div>
      <div class="d-flex justify-content-end">
         <button type="submit" class="btn btn-primary">{{ teamParticipant ? 'Змінити' : 'Зберегти' }}</button>
      </div>
   </form>
</div>
