<form novalidate [formGroup]="teamForm" (ngSubmit)="submit()">
   <div class="modal-header">
      <h5 class="modal-title" id="teamSelectModalLabel">Заявити команду</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <app-info [hidden]="!showNotFoundMessage" [message]="'Не знайдено жодної команди'"></app-info>
      <div
         [hidden]="showNotFoundMessage || !teams"
         class="form-group"
         [class.form-group-invalid]="showFormInvalidClass(teamForm.get('id'))"
      >
         <label for="id" class="font-weight-bold">Команда:</label>
         <select id="id" formControlName="id" class="form-control">
            <option *ngFor="let team of teams" [value]="team.id" [disabled]="team.stated || team.confirmed">
               {{ team.name }} {{ team.stated || team.confirmed ? '(не дозволено заявити цю команду)' : '' }}
            </option>
         </select>
         <div [hidden]="!showFormErrorMessage(teamForm.get('id'), 'required')" class="error-message">
            <small>Команда обов'язкова</small>
         </div>
      </div>
   </div>
   <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="close()">
         <i class="fa fa-times"></i>
         Скасувати
      </button>
      <button [hidden]="showNotFoundMessage" type="submit" class="btn btn-primary">
         <i class="fa fa-arrow-right"></i>
         Продовжити
      </button>
   </div>
</form>
