<div class="card mb-2 black-shadow" [attr.id]="'user-message-' + message.id">
    <div class="card-header d-flex justify-content-between">
        <div>
            <app-user-logo-with-tooltip [user]="message.user"></app-user-logo-with-tooltip>
            <strong class="align-middle ml-1 ml-sm-2">{{message.user.name}}</strong>
            <small *ngIf="message.user.hometown" class="text-muted">({{message.user.hometown}})</small>
        </div>
        <div *ngIf="message.user.clubs && message.user.clubs.length" class="d-flex flex-row">
            <div *ngFor="let club of message.user.clubs" class="ml-1 mr-1 ml-sm-2 mr-sm-2">
                <app-club-logo-with-tooltip [club]="club"></app-club-logo-with-tooltip>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text break-word">
            <div [innerHtml]="assembleHTMLItem(message.body)"></div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center pt-1 pb-1">
        <div class="border bg-white rounded p-1">
            <app-win-logo-with-tooltip *ngFor="let win of message.user.winners" [win]="win"></app-win-logo-with-tooltip>
        </div>
        <div>
            <small class="text-muted">{{message.created_at | time:'calendar'}}</small>
        </div>
    </div>
</div>
