<ng-container *ngIf="authenticatedUser; else noAccessError">
   <h4 *ngIf="team">
      {{ team.name }}
      <a *ngIf="isCaptain" [routerLink]="['/', 'team', team.id, 'edit']" class="btn btn-sm btn-outline-primary">
         <i class="fa fa-cogs"></i> Редагувати
      </a>
   </h4>
   <app-team-stage-select (teamStageSelected)="teamStageSelected($event)"></app-team-stage-select>
   <app-team-captain></app-team-captain>
</ng-container>
<ng-template #noAccessError>
   <h2>Моя команда:</h2>
   <app-error [message]="noAccess" [additionalInfo]="false"></app-error>
</ng-template>
