<h2>Моя команда {{team ? '- ' + team.name : ''}}: </h2>
<button *ngIf="authenticatedUser && isCaptain" (click)="openTeamEditModal(teamEditModal)" type="button" class="btn btn-outline-primary">
    Редагувати команду
</button>
<div *ngIf="authenticatedUser">
    <div *ngIf="roundsArray && round" class="mt-2 mb-2">
        <app-dropdown-navigation [dropdownItems]="roundsArray"
                                 [selectedId]="round"
                                 [navigationPath]="['/', 'team', 'competitions', competitionId, 'my', 'round']"
                                 [formSize]="'lg'">
        </app-dropdown-navigation>
    </div>
    <app-team-captain></app-team-captain>
</div>
<app-error *ngIf="!authenticatedUser" [message]="noAccess" [additionalInfo]="false"></app-error>
<ng-template #teamEditModal let-c="close">
    <app-team-edit-modal [close]="c"
                         [spinnerButton]="spinnerButtonTeamEditForm"
                         [teamForm]="teamEditForm"
                         [hasUnsavedChanges]="teamEditFormHasUnsavedChanges"
                         [team]="team"
                         (submitted)="onSubmitted($event)">
    </app-team-edit-modal>
</ng-template>
