<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType application/javascript "access plus 604800 seconds"
	ExpiresByType text/css "access plus 604800 seconds"
	ExpiresDefault "access plus 3 weeks"
</IfModule>
