//@import '~bootstrap/scss/functions', '~bootstrap/scss/variables'; // todo remove

@import '../node_modules/bootswatch/dist/darkly/_variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootswatch/dist/darkly/_bootswatch.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';

html,
body,
.full-height {
   height: 100%;
}
body {
   .bg-transparent {
      background-color: transparent;
   }

   .break-word {
      word-wrap: break-word;
   }

   .text-shadow {
      text-shadow: $dark 1px 0 2px;
   }

   .cursor-pointer,
   .btn {
      cursor: pointer;
   }

   .group-number {
      .fa {
         color: $gray-300;
      }
      strong {
         color: $white;
      }
   }

   // deprecated error styles: use 'form-group-invalid'
   form {
      .form-group-invalid-custom {
         color: $danger;

         .input-group-prepend {
            .input-group-text {
               border-color: $danger;
               color: $danger;
            }
         }

         .ng-invalid {
            border-color: $danger;

            &:focus {
               box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            }
         }
      }
   }

   // new styles for form errors
   form {
      .form-group.form-group-invalid {
         label {
            color: $danger;
         }
         .form-control.ng-invalid.ng-touched {
            border-color: $danger;

            &:focus {
               box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            }
         }

         .ng-invalid.ng-touched {
            .ng-select-container {
               border-color: $danger;
            }
            .custom-file-label {
               border-color: $danger;
            }
         }

         .ng-select.ng-select-focused:not(.ng-select-opened) {
            .ng-select-container {
               box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
            }
         }

         .error-message {
            display: block;
            color: $danger;
         }
      }
   }

   .green-inset-and-black-shadow {
      box-shadow: inset 0 0 5px $success, 0 0.5rem 1rem $secondary;
   }

   .green-shadow {
      box-shadow: 0 0 5px $success;
   }

   .half-height {
      min-height: 50%;
   }

   .min-w-50 {
      min-width: 50px;
   }

   .predict-input {
      width: 44px;
      font-weight: bold;
   }

   .red-inset-and-black-shadow {
      box-shadow: inset 0 0 5px $danger, 0 0.5rem 1rem $secondary;
   }
   .red-shadow {
      box-shadow: 0 0 5px $danger;
   }

   .small-image {
      height: 25px;
      width: 25px;
   }

   .th-moving-icons {
      min-width: 62px;

      .fa {
         position: relative;
      }

      .fa-arrow-circle-down {
         left: 7px;
      }

      .fa-arrow-circle-up {
         left: -7px;
      }
   }

   .ql-container,
   .ql-toolbar {
      background-color: $white;
      color: $black;
   }

   // to make list items look like a table rows
   .cup-match-row:nth-child(odd) {
      background-color: $table-accent-bg;
   }
   .cup-match-row:hover {
      background-color: $table-hover-bg;
   }
}

[hidden] {
   display: none !important;
}

@media (max-width: 460px) {
   .table-responsive-xs-custom {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
   }
   .table-responsive-xs-custom.table-bordered {
      border: 0;
   }
}
