<ng-container *ngIf="competitions">
   <div class="d-block d-md-none mb-2">
      <div class="btn-group btn-group-sm">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
   <div class="d-none d-md-block mb-3">
      <div class="btn-group">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
</ng-container>
<ng-template #competitionsNavigation>
   <button
      *ngFor="let competition of competitions"
      (click)="clickOnCompetitionButton(competition)"
      class="btn"
      [ngClass]="competition.id === selectedCompetitionId ? 'btn-primary' : 'btn-outline-primary'"
      type="button"
   >
      {{ competition.title }}
   </button>
   <button (click)="showTeamStageSelect = !showTeamStageSelect" class="btn btn-outline-secondary" type="button" title="Попередні змагання">
      Попередні змагання
      <i [hidden]="showTeamStageSelect" class="fa fa-chevron-down ml-1"></i>
      <i [hidden]="!showTeamStageSelect" class="fa fa-chevron-up ml-1"></i>
   </button>
</ng-template>
<div *ngIf="showTeamStageSelect" class="card shadow p-2 mb-2">
   <form novalidate [formGroup]="teamStageSelectForm">
      <div class="form-row">
         <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="season_id" class="font-weight-bold">Сезон:</label>
            <ng-select
               id="season_id"
               placeholder="Оберіть сезон"
               [items]="seasons || []"
               bindValue="id"
               bindLabel="title"
               formControlName="season_id"
               [searchable]="false"
               [clearable]="false"
            >
            </ng-select>
         </div>
         <div *ngIf="competitionsBySeasonId[seasonIdFormValue]?.length > 0" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="competition_id" class="font-weight-bold">Змагання:</label>
            <ng-select
               id="competition_id"
               placeholder="Оберіть змагання"
               [items]="competitionsBySeasonId[seasonIdFormValue] || []"
               bindValue="id"
               bindLabel="title"
               formControlName="competition_id"
               [groupBy]="groupByNumberInSeason"
               [searchable]="false"
               [clearable]="false"
            >
            </ng-select>
         </div>
         <div
            *ngIf="competitionsBySeasonId[seasonIdFormValue]?.length === 0"
            class="col-12 col-md-6 d-md-flex align-items-center mt-lg-2 ml-lg-1"
         >
            <div class="alert alert-info mb-0 text-center" role="alert">В цьому сезоні відсутні змагання</div>
         </div>
         <div *ngIf="teamStagesByCompetitionId[competitionIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
            <label for="team_stage_id" class="font-weight-bold">Стадія:</label>
            <ng-select
               id="team_stage_id"
               placeholder="Оберіть стадію"
               [items]="teamStagesByCompetitionId[competitionIdFormValue] || []"
               bindValue="id"
               bindLabel="title"
               formControlName="team_stage_id"
               [searchable]="false"
               [clearable]="false"
               (change)="submit()"
            >
            </ng-select>
         </div>
         <div
            *ngIf="teamStageIdFormValue"
            class="form-group d-flex align-items-end col-12 col-md-6 col-lg-4 col-xl-3 offset-0 offset-lg-8 offset-xl-0"
         ></div>
      </div>
   </form>
</div>
<div class="mb-2">
   <app-dropdown-navigation
      [dropdownItems]="teamStages"
      [selectedId]="selectedTeamStage?.id"
      [paramKey]="'team_stage_id'"
      [formSize]="'lg'"
   >
   </app-dropdown-navigation>
</div>
