<ng-container *ngIf="competitions">
   <div class="d-block d-md-none">
      <div class="btn-group btn-group-sm">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
   <div class="d-none d-md-block">
      <div class="btn-group">
         <ng-container [ngTemplateOutlet]="competitionsNavigation"></ng-container>
      </div>
   </div>
</ng-container>
<ng-template #competitionsNavigation>
   <button
      *ngFor="let competition of competitions"
      (click)="clickOnCompetitionButton(competition)"
      class="btn mb-2"
      [ngClass]="competition.id === selectedCompetitionId ? 'btn-primary' : 'btn-outline-primary'"
      type="button"
   >
      {{ competition.title }}
   </button>
   <button
      (click)="showTeamStageSelect = !showTeamStageSelect"
      class="btn btn-outline-secondary mb-2"
      type="button"
      title="Попередні змагання"
   >
      <i class="fa fa-history"></i>
      <i [hidden]="showTeamStageSelect" class="fa fa-chevron-down"></i>
      <i [hidden]="!showTeamStageSelect" class="fa fa-chevron-up"></i>
   </button>
</ng-template>
<div class="mb-2">
   <app-dropdown-navigation
      [dropdownItems]="teamStages"
      [selectedId]="selectedTeamStage?.id"
      [paramKey]="'team_stage_id'"
      [formSize]="'lg'"
   >
   </app-dropdown-navigation>
</div>
<form *ngIf="showTeamStageSelect" novalidate [formGroup]="teamStageSelectForm" class="bg-white border rounded blue-shadow p-2 mb-2">
   <div class="form-row">
      <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="season_id" class="font-weight-bold">Сезон:</label>
         <select id="season_id" class="form-control" formControlName="season_id">
            <option [ngValue]="null" disabled>Виберіть сезон</option>
            <option *ngFor="let season of seasons" [value]="season.id">{{ season.title }}</option>
         </select>
      </div>
      <div *ngIf="competitionsBySeasonId[seasonIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="competition_id" class="font-weight-bold">Змагання:</label>
         <select id="competition_id" class="form-control" formControlName="competition_id">
            <option [ngValue]="null" disabled>Виберіть змагання</option>
            <option *ngFor="let competition of competitionsBySeasonId[seasonIdFormValue]" [value]="competition.id">
               {{ competition.title }}
            </option>
         </select>
      </div>
      <div *ngIf="teamStagesByCompetitionId[competitionIdFormValue]" class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
         <label for="team_stage_id" class="font-weight-bold">Стадія:</label>
         <select id="team_stage_id" class="form-control" formControlName="team_stage_id">
            <option [ngValue]="null" disabled>Виберіть стадію</option>
            <option *ngFor="let teamStage of teamStagesByCompetitionId[competitionIdFormValue]" [value]="teamStage.id">
               {{ teamStage.title }}
            </option>
         </select>
      </div>
      <div
         *ngIf="teamStageIdFormValue"
         class="form-group d-flex align-items-end col-12 col-md-6 col-lg-4 col-xl-3 offset-0 offset-lg-8 offset-xl-0"
      >
         <button (click)="submit()" class="btn btn-primary text-nowrap" type="button">
            <i class="fa fa-search"></i>
            Показати Матчі
         </button>
      </div>
   </div>
</form>
