<h2>
   Матчі:
   <!-- todo: button doesnt work - temporarily hiding it -->
   <!--    <button class="btn btn-sm btn-outline-secondary cursor-pointer"-->
   <!--            title="Оновити"-->
   <!--            (click)="getTeamTeamMatchesData(round)">-->
   <!--        <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>-->
   <!--    </button>-->
</h2>
<!-- error competition -->
<app-error *ngIf="errorCompetition" [message]="errorCompetition"></app-error>
<div *ngIf="roundsArray && round" class="mb-2">
   <app-dropdown-navigation
      [dropdownItems]="roundsArray"
      [selectedId]="round"
      [navigationPath]="['/', 'team', 'competitions', competitionId, 'matches', 'round']"
      [formSize]="'lg'"
   >
   </app-dropdown-navigation>
</div>
<!-- error team matches -->
<app-error *ngIf="errorTeamTeamMatches" [message]="errorTeamTeamMatches"></app-error>
<div *ngIf="teamTeamMatches" class="row no-gutters black-shadow mb-1">
   <div class="col-12 black-shadow">
      <app-team-team-match-card
         *ngFor="let teamTeamMatch of teamTeamMatches"
         [teamTeamMatch]="teamTeamMatch"
         [competitionId]="competitionId"
         [round]="round"
      >
      </app-team-team-match-card>
   </div>
</div>
<div *ngIf="teamTeamMatches">
   <small class="pull-right text-muted"> *прогнози гравців відображаються після початку другого тайму матчу. </small>
   <small class="pull-right text-muted"> **заблоковані матчі відображаються після добавлення результату. </small>
</div>
