<!-- user -->
<div *ngIf="user" class="card shadow mb-2">
   <div class="card-header d-flex justify-content-between">
      <div class="d-flex align-items-center">
         <div class="pr-2">
            <app-user-logo [user]="user"></app-user-logo>
         </div>
         <div class="d-flex flex-column">
            <strong>{{ user.name }}</strong>
            <small class="text-muted">{{ user.hometown }}</small>
         </div>
      </div>
   </div>
   <div class="card-body">
      <div class="card-text break-word">
         <table *ngIf="championshipRatingItem" class="table table-sm table-striped table-bordered mb-0">
            <tbody>
               <tr>
                  <td>Позиція в рейтингу</td>
                  <td class="text-center">{{ championshipRatingItem.position }}</td>
               </tr>
               <tr>
                  <td>Очки</td>
                  <td class="text-center">{{ championshipRatingItem.points }}</td>
               </tr>
               <tr>
                  <td>x3 <small class="text-muted">(Трьохочкові)</small></td>
                  <td class="text-center">{{ championshipRatingItem.x3 }}</td>
               </tr>
               <tr>
                  <td>x2 <small class="text-muted">(Двохочкові)</small></td>
                  <td class="text-center">{{ championshipRatingItem.x2 }}</td>
               </tr>
               <tr>
                  <td>Коефіцієнт складності</td>
                  <td class="text-center">{{ championshipRatingItem.dc }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div *ngIf="user.winners?.length || user.clubs?.length" class="card-footer d-flex justify-content-between">
      <div class="d-flex">
         <app-club-logo *ngFor="let club of user.clubs" [club]="club" class="pr-2"></app-club-logo>
      </div>
      <app-user-wins-awards [wins]="user.winners"></app-user-wins-awards>
   </div>
</div>
