<!-- coming matches slider -->
<div class="d-none d-md-block">
   <!-- error -->
   <app-error *ngIf="errorChampionshipMatches" [message]="errorChampionshipMatches"></app-error>
   <ngb-carousel *ngIf="championshipMatches && championshipMatches.length" id="carousel">
      <ng-template *ngFor="let championshipMatch of championshipMatches; let i = index" ngbSlide>
         <div class="container">
            <div class="row">
               <!-- first club -->
               <div class="col-md-5">
                  <div class="row align-items-center">
                     <!-- title -->
                     <div class="col text-center cursor-pointer" routerLink="/championship/predictions">
                        <div class="row align-items-center title-block">
                           <div class="col">
                              <h2 class="bg-dark p-2 rounded">{{ championshipMatch.match.club_home.title }}</h2>
                           </div>
                        </div>
                     </div>
                     <!-- image -->
                     <div class="col-12 cursor-pointer" routerLink="/championship/predictions">
                        <div class="row align-items-center logo-block p-4">
                           <div
                              class="col logo"
                              [style.background-image]="'url(' + clubsLogosPath + '/' + championshipMatch.match.club_home.image + ')'"
                           ></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- versus -->
               <div class="col-md-2">
                  <div class="row align-items-center">
                     <div class="col vs"></div>
                  </div>
               </div>
               <!-- second club -->
               <div class="col-md-5">
                  <div class="row">
                     <!-- title -->
                     <div class="col text-center cursor-pointer" routerLink="/championship/predictions">
                        <div class="row align-items-center title-block">
                           <div class="col">
                              <h2 class="bg-dark p-2 rounded">{{ championshipMatch.match.club_away.title }}</h2>
                           </div>
                        </div>
                     </div>
                     <!-- image -->
                     <div class="col-12 cursor-pointer" routerLink="/championship/predictions">
                        <div class="row align-items-center logo-block p-4">
                           <div
                              class="col logo"
                              [style.background-image]="'url(' + clubsLogosPath + '/' + championshipMatch.match.club_away.image + ')'"
                           ></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-caption d-none d-md-block">
                  <h3 class="bg-dark p-2 rounded">{{ championshipMatch.match.started_at | time: 'calendar' }}</h3>
               </div>
            </div>
         </div>
      </ng-template>
   </ngb-carousel>
</div>
<!-- last news -->
<div class="container">
   <div class="row">
      <div class="col">
         <h4 class="my-3">Останні новини</h4>
      </div>
   </div>
   <!-- last 3 news -->
   <div *ngIf="news" class="row">
      <div class="col">
         <div class="card-deck">
            <div *ngFor="let one of news | slice: 0:3" class="card shadow">
               <img class="card-img-top img-fluid p-2" src="{{ newsImagesUrl }}/{{ one.image }}" alt="{{ one.title }}" />
               <div class="card-body">
                  <h4 class="card-title">{{ one.title }}</h4>
                  <a routerLink="/news/{{ one.id }}" class="btn btn-outline-primary">Читати далі</a>
               </div>
               <div class="card-footer">
                  <p class="card-text">
                     <small class="text-muted">{{ one.created_at | time: 'fromNow' }}</small>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- more news button -->
   <div *ngIf="news && news" class="row">
      <div class="col text-center mt-2">
         <a routerLink="news" class="btn btn-outline-primary btn-lg">Більше новин</a>
      </div>
   </div>
   <div class="row">
      <div class="col mt-2">
         <app-last-comments [limitTo]="0"></app-last-comments>
      </div>
   </div>
</div>
