<form novalidate [formGroup]="cupAddApplicationForm" (ngSubmit)="onSubmit()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Подати заявку</h5>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="applicant_id">Заявник:</label>
                <select *ngIf="users"
                        id="applicant_id"
                        formControlName="applicant_id"
                        class="form-control"
                        [class.is-invalid]="cupAddApplicationForm.get('applicant_id').invalid &&
                                            (cupAddApplicationForm.get('applicant_id').touched ||
                                             !cupAddApplicationForm.get('applicant_id').pristine)">
                    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                </select>
                <div [hidden]="!cupAddApplicationForm.get('applicant_id').hasError('required')" class="invalid-feedback">
                    Заявник обов'язковий
                </div>
            </div>
            <div *ngIf="isFriendlyCompetition()" class="form-group">
                <label for="receiver_id">Отримувач:</label>
                <select *ngIf="users"
                        id="receiver_id"
                        formControlName="receiver_id"
                        class="form-control"
                        [class.is-invalid]="cupAddApplicationForm.get('receiver_id').invalid &&
                                            (cupAddApplicationForm.get('receiver_id').touched ||
                                             !cupAddApplicationForm.get('receiver_id').pristine)">
                    <option [ngValue]="null">Будь-хто</option>
                    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                </select>
            </div>
            <div *ngIf="isFriendlyCompetition()" class="form-group">
                <label for="place">Місце:</label>
                <select *ngIf="places"
                        id="place"
                        formControlName="place"
                        class="form-control"
                        [class.is-invalid]="cupAddApplicationForm.get('place').invalid &&
                                            (cupAddApplicationForm.get('place').touched ||
                                             !cupAddApplicationForm.get('place').pristine)">
                    <option *ngFor="let place of places" [value]="place.id">{{place.title}}</option>
                </select>
            </div>
            <app-error *ngIf="errorUsers" [message]="errorUsers"></app-error>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="close()">Скасувати</button>
            <button [hidden]="spinnerButton" type="submit" class="btn btn-primary">Продовжити</button>
            <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
        </div>
    </div>
</form>
