<h3 class="h3 m-2">Учасники:</h3>
<table *ngIf="teamParticipants" class="d-none d-lg-table table table-dark table-striped table-hover table-bordered">
   <thead>
      <tr>
         <th scope="col" class="text-center">ID</th>
         <th scope="col">Заявник</th>
         <th scope="col" title="Капітан">К</th>
         <th scope="col">
            <table class="table-sm" align="center">
               <tr>
                  <td>Команда</td>
               </tr>
               <tr>
                  <td>Змагання</td>
               </tr>
            </table>
         </th>
         <th scope="col" title="Підтверджено">П</th>
         <th scope="col" title="Відхилено">В</th>
         <th scope="col" title="Створено / Змінено">Дати</th>
         <th scope="col" title="Завершено">З</th>
         <th scope="col" class="text-center">Дія</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let teamParticipant of teamParticipants">
         <th scope="row" class="text-center align-middle">{{ teamParticipant.id }}</th>
         <td class="text-nowrap align-middle">
            <app-user-logo [user]="teamParticipant.user"></app-user-logo>
            {{ teamParticipant.user.name }}
         </td>
         <td class="text-center align-middle">
            <ng-container [ngTemplateOutlet]="isCaptain" [ngTemplateOutletContext]="{ teamParticipant: teamParticipant }"></ng-container>
         </td>
         <td class="text-nowrap align-middle">
            <table class="table-sm" align="center">
               <tr>
                  <td>
                     <app-team-logo [team]="teamParticipant.team"></app-team-logo>
                     {{ teamParticipant.team.name }}
                  </td>
               </tr>
               <tr>
                  <td class="text-nowrap align-middle">
                     <small>{{ teamParticipant.competition.title }}</small>
                  </td>
               </tr>
            </table>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.confirmed"></app-true-false-icons>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.refused"></app-true-false-icons>
         </td>
         <td>
            <span class="text-nowrap">{{ teamParticipant.created_at | time: 'YYYY-MM-DD HH:mm' }}</span>
            <br />
            <span class="text-nowrap text-muted">{{ teamParticipant.updated_at | time: 'fromNow' }}</span>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.ended"></app-true-false-icons>
         </td>
         <td class="text-nowrap text-center align-middle">
            <a routerLink="/manage/team/participants/{{ teamParticipant.id }}/edit" class="btn btn-sm btn-outline-warning">
               <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
            <button
               type="button"
               class="btn btn-sm btn-outline-danger"
               (click)="openConfirmModal(confirmModal, teamParticipant, deleteTeamParticipant)"
            >
               <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>
<table *ngIf="teamParticipants" class="d-none d-md-table d-lg-none table table-dark table-striped table-hover table-bordered">
   <thead>
      <tr>
         <th scope="col" class="text-center align-middle">ID</th>
         <th scope="col">
            <table class="table-sm" align="center">
               <tr>
                  <th>Заявник (К)</th>
               </tr>
               <tr>
                  <th>Команда</th>
               </tr>
               <tr>
                  <th>Змагання</th>
               </tr>
            </table>
         </th>
         <th scope="col" title="Підтверджено">П</th>
         <th scope="col" title="Відхилено">В</th>
         <th scope="col" class="text-center" title="Створено / Змінено">Дати</th>
         <th scope="col" title="Завершено">З</th>
         <th scope="col" class="text-center">Дія</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let teamParticipant of teamParticipants">
         <th scope="row" class="text-center align-middle">{{ teamParticipant.id }}</th>
         <td>
            <table class="table-sm">
               <tr>
                  <td>
                     <app-user-logo [user]="teamParticipant.user"></app-user-logo>
                     <strong>{{ teamParticipant.user.name }}</strong>
                     <ng-container
                        [ngTemplateOutlet]="isCaptain"
                        [ngTemplateOutletContext]="{ teamParticipant: teamParticipant }"
                     ></ng-container>
                  </td>
               </tr>
               <tr>
                  <td>
                     <app-team-logo [team]="teamParticipant.team"></app-team-logo>
                     {{ teamParticipant.team.name }}
                  </td>
               </tr>
               <tr>
                  <td>{{ teamParticipant.competition.title }}</td>
               </tr>
            </table>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.confirmed"></app-true-false-icons>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.refused"></app-true-false-icons>
         </td>
         <td class="align-middle">
            <table class="table-sm" align="middle">
               <tr>
                  <td class="text-nowrap">{{ teamParticipant.created_at | time: 'YYYY-MM-DD HH:mm' }}</td>
               </tr>
               <tr>
                  <td class="text-nowrap text-muted">{{ teamParticipant.updated_at | time: 'fromNow' }}</td>
               </tr>
            </table>
         </td>
         <td class="text-center align-middle">
            <app-true-false-icons [value]="teamParticipant.ended"></app-true-false-icons>
         </td>
         <td class="text-nowrap text-center align-middle">
            <a routerLink="/manage/team/participants/{{ teamParticipant.id }}/edit" class="btn btn-sm btn-outline-warning">
               <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
            <button
               type="button"
               class="btn btn-sm btn-outline-danger"
               (click)="openConfirmModal(confirmModal, teamParticipant, deleteTeamParticipant)"
            >
               <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>
<table *ngIf="teamParticipants" class="d-none d-sm-table d-md-none table table-sm table-dark table-striped table-hover table-bordered">
   <thead>
      <tr>
         <th scope="col">
            <table align="center">
               <tr>
                  <th>ID</th>
                  <th>Заявник</th>
               </tr>
               <tr>
                  <th colspan="3">Команда</th>
               </tr>
               <tr>
                  <th colspan="3">Змагання</th>
               </tr>
            </table>
         </th>
         <th scope="col">
            <table align="center">
               <tr>
                  <th colspan="2">Створено</th>
               </tr>
               <tr>
                  <th colspan="2">Змінено</th>
               </tr>
               <tr>
                  <th class="text-center" title="Підтверджено">П</th>
                  <th class="text-center" title="Відхилено">В</th>
               </tr>
            </table>
         </th>
         <th scope="col">
            <table align="center">
               <tr>
                  <th class="text-center" colspan="2">Завершено</th>
               </tr>
               <tr>
                  <th class="text-center" colspan="2">Дія</th>
               </tr>
            </table>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let teamParticipant of teamParticipants">
         <td>
            <table class="table-sm" align="center">
               <tr>
                  <th>ID: {{ teamParticipant.id }}</th>
                  <td colspan="2">
                     <app-user-logo [user]="teamParticipant.user"></app-user-logo>
                     <strong>{{ teamParticipant.user.name }}</strong>
                     <ng-container
                        [ngTemplateOutlet]="isCaptain"
                        [ngTemplateOutletContext]="{ teamParticipant: teamParticipant }"
                     ></ng-container>
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <app-team-logo [team]="teamParticipant.team"></app-team-logo>
                     {{ teamParticipant.team.name }}
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <small class="text-muted">{{ teamParticipant.competition.title }}</small>
                  </td>
               </tr>
            </table>
         </td>
         <td>
            <table align="center">
               <tr>
                  <td colspan="2" class="text-nowrap">{{ teamParticipant.created_at | time: 'YYYY-MM-DD HH:mm' }}</td>
               </tr>
               <tr>
                  <td colspan="2" class="text-nowrap text-muted">{{ teamParticipant.updated_at | time: 'fromNow' }}</td>
               </tr>
               <tr>
                  <td class="text-center"><app-true-false-icons [value]="teamParticipant.confirmed"></app-true-false-icons></td>
                  <td class="text-center"><app-true-false-icons [value]="teamParticipant.refused"></app-true-false-icons></td>
               </tr>
            </table>
         </td>
         <td class="align-middle">
            <table align="center">
               <tr>
                  <td class="text-center" colspan="2">
                     <app-true-false-icons [value]="teamParticipant.ended"></app-true-false-icons>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a routerLink="/manage/team/participants/{{ teamParticipant.id }}/edit" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                     </a>
                  </td>
                  <td>
                     <button
                        type="button"
                        class="btn btn-sm btn-outline-danger"
                        (click)="openConfirmModal(confirmModal, teamParticipant, deleteTeamParticipant)"
                     >
                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                     </button>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<table *ngIf="teamParticipants" class="d-table d-sm-none d-md-none table table-sm table-dark table-striped table-hover table-bordered">
   <tbody>
      <tr *ngFor="let teamParticipant of teamParticipants">
         <td>
            <table class="table-sm" align="center">
               <tr>
                  <td>ID: {{ teamParticipant.id }}</td>
                  <td>
                     <app-user-logo [user]="teamParticipant.user"></app-user-logo>
                     <strong>{{ teamParticipant.user.name }}</strong>
                     <ng-container
                        [ngTemplateOutlet]="isCaptain"
                        [ngTemplateOutletContext]="{ teamParticipant: teamParticipant }"
                     ></ng-container>
                  </td>
               </tr>
               <tr>
                  <td colspan="2" class="text-nowrap">
                     <app-team-logo [team]="teamParticipant.team"></app-team-logo>
                     {{ teamParticipant.team.name }}
                  </td>
               </tr>
               <tr>
                  <td colspan="2">
                     <small class="text-muted">{{ teamParticipant.competition.title }}</small>
                  </td>
               </tr>
               <tr>
                  <td class="text-center text-nowrap">
                     Підтв.: <app-true-false-icons [value]="teamParticipant.confirmed"></app-true-false-icons>
                  </td>
                  <td class="text-center text-nowrap">
                     Відхилено: <app-true-false-icons [value]="teamParticipant.refused"></app-true-false-icons>
                  </td>
               </tr>
               <tr>
                  <td><small>Створено:</small></td>
                  <td class="text-nowrap text-right">
                     <small>{{ teamParticipant.created_at | time: 'YYYY-MM-DD HH:mm' }}</small>
                  </td>
               </tr>
               <tr>
                  <td><small>Змінено:</small></td>
                  <td class="text-nowrap text-muted text-right">
                     <small>{{ teamParticipant.updated_at | time: 'fromNow' }}</small>
                  </td>
               </tr>
            </table>
         </td>
         <td class="align-middle">
            <table align="center">
               <tr>
                  <td class="text-center" colspan="2">
                     <app-true-false-icons [value]="teamParticipant.ended"></app-true-false-icons>
                  </td>
               </tr>
               <tr>
                  <td>
                     <a routerLink="/manage/team/participants/{{ teamParticipant.id }}/edit" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <button
                        type="button"
                        class="btn btn-sm btn-outline-danger"
                        (click)="openConfirmModal(confirmModal, teamParticipant, deleteTeamParticipant)"
                     >
                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                     </button>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<app-pagination
   *ngIf="paginationData"
   [totalItems]="paginationData.total"
   [currentPage]="paginationData.currentPage"
   [pageSize]="paginationData.pageSize"
   [path]="paginationData.path"
></app-pagination>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal
      [close]="c"
      [message]="'Видалити заявку ' + openedModal.data.user.name + '?'"
      (confirmed)="openedModal.submitted($event)"
   >
   </app-confirmation-modal>
</ng-template>
<ng-template #isCaptain let-teamParticipant="teamParticipant">
   <strong class="text-info">{{ teamParticipant.captain ? '(K)' : '' }}</strong>
</ng-template>
