<h3 class="h3 m-2">Заявки / Учасники:</h3>
<table *ngIf="teamParticipants" class="d-none d-lg-table table table-dark table-striped table-hover table-bordered">
   <thead>
      <tr>
         <th scope="col" class="text-center">ID</th>
         <th scope="col">Заявник</th>
         <th scope="col">Команда</th>
         <th scope="col">Змагання</th>
         <th scope="col" title="Капітан">К</th>
         <th scope="col" title="Підтверджено">П</th>
         <th scope="col" title="Відхилено">В</th>
         <th scope="col" title="Завершено">З</th>
         <th scope="col" title="Створено / Змінено">Дати</th>
         <th scope="col" class="text-center">Дія</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let teamParticipant of teamParticipants">
         <th scope="row" class="text-center align-middle">{{ teamParticipant.id }}</th>
         <td class="text-nowrap align-middle">
            <app-user-logo-with-tooltip [user]="teamParticipant.user"></app-user-logo-with-tooltip>
            {{ teamParticipant.user.name }}
         </td>
         <td class="text-nowrap align-middle">
            <app-team-logo-with-tooltip [team]="teamParticipant.team"></app-team-logo-with-tooltip>
            {{ teamParticipant.team.name }}
         </td>
         <td class="text-nowrap align-middle">
            {{ teamParticipant.competition.title }}
         </td>
         <td class="text-center">
            <app-true-false-icons [value]="teamParticipant.captain"></app-true-false-icons>
         </td>
         <td class="text-center">
            <app-true-false-icons [value]="teamParticipant.confirmed"></app-true-false-icons>
         </td>
         <td class="text-center">
            <app-true-false-icons [value]="teamParticipant.refused"></app-true-false-icons>
         </td>
         <td class="text-center">
            <app-true-false-icons [value]="teamParticipant.ended"></app-true-false-icons>
         </td>
         <td>
            <span class="text-nowrap">{{ teamParticipant.created_at | time: 'YYYY-MM-DD HH:mm' }}</span>
            <br />
            <span class="text-nowrap text-muted">{{ teamParticipant.updated_at | time: 'fromNow' }}</span>
         </td>
         <td class="text-nowrap text-center">
            <a routerLink="/manage/team/participants/{{ teamParticipant.id }}/edit" class="btn btn-sm btn-outline-warning">
               <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
            <button
               type="button"
               class="btn btn-sm btn-outline-danger"
               (click)="openConfirmModal(confirmModal, teamParticipant, deleteTeamParticipant)"
            >
               <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>
<app-pagination
   *ngIf="paginationData"
   [totalItems]="paginationData.total"
   [currentPage]="paginationData.currentPage"
   [pageSize]="paginationData.pageSize"
   [path]="paginationData.path"
></app-pagination>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal
      [close]="c"
      [message]="'Видалити заявку ' + openedModal.data.user.name + '?'"
      (confirmed)="openedModal.submitted($event)"
   >
   </app-confirmation-modal>
</ng-template>
