<div *ngIf="cupStage" class="card shadow">
   <div class="card-header pb-2 pt-2">
      <div class="d-flex justify-content-between">
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.Friendly"><strong>Товариські матчі</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.Final"><strong>Фінал</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.QualificationOneMatch">
            <strong>Кваліфікація (Одноматчева дуель)</strong>
         </div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.PlayOffOneMatch"><strong>Плей-офф (Одноматчева дуель)</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.PlayOffOneMatch2"><strong>Плей-офф (Одноматчева дуель)</strong></div>
         <div *ngIf="cupStage.cup_stage_type_id === cupStageTypes.SuperCup"><strong>Суперкубок</strong></div>
         <div>Матчів: {{ cupCupMatches.length }}</div>
      </div>
   </div>
   <div class="card-body p-0">
      <div
         *ngFor="let cupCupMatch of sortedCupCupMatches"
         class="row no-gutters cursor-pointer cup-match-row pt-1 pb-1"
         [routerLink]="'/cup/cup-matches/' + cupCupMatch.id"
      >
         <div class="col-5 d-flex align-items-center justify-content-end">
            <small *ngIf="cupCupMatch.home_user.hometown" class="d-none d-sm-block text-muted text-truncate pr-1"
               >({{ cupCupMatch.home_user.hometown }})</small
            >
            <app-cup-cup-match-user-name
               class="text-right pr-1 overflow-hidden"
               [count]="cupCupMatch.cup_predictions_home_count"
               [user]="cupCupMatch.home_user"
            ></app-cup-cup-match-user-name>
            <app-user-logo [user]="cupCupMatch.home_user"></app-user-logo>
         </div>
         <div class="col-2 d-flex align-items-center justify-content-center text-center text-nowrap">
            <small class="text-muted" *ngIf="isNil(cupCupMatch.home) && isNil(cupCupMatch.away); else score">vs</small>
            <ng-template #score>
               <span class="d-none d-sm-inline">
                  <strong>{{ cupCupMatch.home }} : {{ cupCupMatch.away }}</strong>
               </span>
               <span class="d-inline d-sm-none">
                  <strong>{{ cupCupMatch.home }}:{{ cupCupMatch.away }}</strong>
               </span>
            </ng-template>
         </div>
         <div class="col-5 d-flex align-items-center justify-content-start">
            <app-user-logo [user]="cupCupMatch.away_user"></app-user-logo>
            <app-cup-cup-match-user-name
               class="text-left pl-1 overflow-hidden"
               [count]="cupCupMatch.cup_predictions_away_count"
               [user]="cupCupMatch.away_user"
            ></app-cup-cup-match-user-name>
            <small *ngIf="cupCupMatch.away_user.hometown" class="d-none d-sm-block text-muted text-truncate pl-1"
               >({{ cupCupMatch.away_user.hometown }})</small
            >
         </div>
      </div>
   </div>
</div>
