<table *ngIf="matches" class="table table-dark table-striped table-hover table-bordered">
   <thead>
      <tr>
         <th scope="col" class="d-none d-lg-table-cell">ID</th>
         <th scope="col" colspan="2" class="text-right">Команда 1</th>
         <th scope="col" colspan="2">Команда 2</th>
         <th scope="col" colspan="3" class="d-none d-sm-table-cell">Результат</th>
         <th scope="col" class="d-none d-lg-table-cell">Час Початку</th>
         <th scope="col" class="text-center d-none d-md-table-cell"></th>
         <th scope="col" class="d-none d-md-table-cell">Змінено</th>
         <th scope="col">Дія</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let match of matches">
         <th scope="row" class="align-middle d-none d-lg-table-cell">{{ match.id }}</th>
         <td colspan="4" class="text-center d-table-cell d-lg-none pt-1 pb-1">
            <table align="center" class="table-sm">
               <tr class="d-table-row d-lg-none">
                  <td colspan="4" class="text-nowrap">{{ match.started_at | time: 'YYYY-MM-DD HH:mm' }}</td>
               </tr>
               <tr>
                  <td class="text-uppercase text-right d-table-cell d-lg-none font-weight-bold">
                     {{ match.club_home.title | slice: 0:3 }}
                  </td>
                  <td class="text-center">
                     <img class="small-image" [attr.src]="clubsLogosPath + match.club_home.image" />
                  </td>
                  <td class="text-center">
                     <img class="small-image" [attr.src]="clubsLogosPath + match.club_away.image" />
                  </td>
                  <td class="text-uppercase d-table-cell d-lg-none font-weight-bold">{{ match.club_away.title | slice: 0:3 }}</td>
               </tr>
               <tr class="d-table-row d-sm-none">
                  <td class="result-table-cell pl-1 pr-1">
                     <ng-container [ngTemplateOutlet]="homeResultInput" [ngTemplateOutletContext]="{ match: match }"></ng-container>
                  </td>
                  <td class="result-table-cell pl-1 pr-1">
                     <ng-container [ngTemplateOutlet]="awayResultInput" [ngTemplateOutletContext]="{ match: match }"></ng-container>
                  </td>
                  <td colspan="2">
                     <ng-container [ngTemplateOutlet]="updateResultButton" [ngTemplateOutletContext]="{ match: match }"></ng-container>
                  </td>
               </tr>
               <tr class="d-table-row d-md-none">
                  <td><ng-container [ngTemplateOutlet]="matchStatusIcon" [ngTemplateOutletContext]="{ match: match }"></ng-container></td>
                  <td colspan="3">
                     <ng-container [ngTemplateOutlet]="updatedAtText" [ngTemplateOutletContext]="{ match: match }"></ng-container>
                  </td>
               </tr>
            </table>
         </td>
         <td class="text-right align-middle d-none d-lg-table-cell">{{ match.club_home.title }}</td>
         <td class="text-center align-middle d-none d-lg-table-cell">
            <img class="small-image" [attr.src]="clubsLogosPath + match.club_home.image" />
         </td>
         <td class="text-center align-middle d-none d-lg-table-cell">
            <img class="small-image" [attr.src]="clubsLogosPath + match.club_away.image" />
         </td>
         <td class="d-none align-middle d-lg-table-cell">{{ match.club_away.title }}</td>
         <td class="result-table-cell align-middle d-none d-sm-table-cell pl-1 pr-1">
            <ng-container [ngTemplateOutlet]="homeResultInput" [ngTemplateOutletContext]="{ match: match }"></ng-container>
         </td>
         <td class="result-table-cell align-middle d-none d-sm-table-cell pl-1 pr-1">
            <ng-container [ngTemplateOutlet]="awayResultInput" [ngTemplateOutletContext]="{ match: match }"></ng-container>
         </td>
         <td class="text-center align-middle d-none d-sm-table-cell">
            <ng-container [ngTemplateOutlet]="updateResultButton" [ngTemplateOutletContext]="{ match: match }"></ng-container>
         </td>
         <td class="text-nowrap align-middle d-none d-lg-table-cell">{{ match.started_at | time: 'YYYY-MM-DD HH:mm' }}</td>
         <td class="text-center align-middle d-none d-md-table-cell">
            <ng-container [ngTemplateOutlet]="matchStatusIcon" [ngTemplateOutletContext]="{ match: match }"></ng-container>
         </td>
         <td class="text-nowrap align-middle d-none d-md-table-cell">
            <ng-container [ngTemplateOutlet]="updatedAtText" [ngTemplateOutletContext]="{ match: match }"></ng-container>
         </td>
         <td class="text-nowrap text-center align-middle">
            <button type="button" class="btn btn-sm btn-outline-warning">
               <i class="fa fa-cogs" aria-hidden="true"></i>
            </button>
            <button
               [hidden]="match.ended"
               type="button"
               class="btn btn-sm btn-outline-danger"
               (click)="openConfirmModal(confirmModal, match, deleteMatch)"
            >
               <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>
<app-pagination
   *ngIf="paginationData"
   [totalItems]="paginationData.total"
   [currentPage]="paginationData.currentPage"
   [pageSize]="paginationData.pageSize"
   [path]="paginationData.path"
>
</app-pagination>
<ng-template #matchStatusIcon let-match="match">
   <i [hidden]="match.active" title="Завершений" class="fa fa-check-circle text-success" aria-hidden="true"></i>
   <i [hidden]="match.ended" title="Активний" class="fa fa-circle-o text-primary" aria-hidden="true"></i>
</ng-template>
<ng-template #homeResultInput let-match="match">
   <input type="number" min="0" max="9" maxlength="1" [(ngModel)]="match.home" class="form-control form-control-sm" />
</ng-template>
<ng-template #awayResultInput let-match="match">
   <input type="number" min="0" max="9" maxlength="1" [(ngModel)]="match.away" class="form-control form-control-sm" />
</ng-template>
<ng-template #updateResultButton let-match="match">
   <button type="button" class="btn btn-sm" [ngClass]="match.active ? 'btn-primary' : 'btn-outline-primary'">
      <i class="fa fa-check" aria-hidden="true"></i>
   </button>
</ng-template>
<ng-template #updatedAtText let-match="match">
   <span class="text-muted">{{ match.updated_at | time: 'fromNow' }}</span>
</ng-template>
<ng-template #confirmModal let-c="close">
   <app-confirmation-modal
      [close]="c"
      [message]="'Видалити ' + openedModal.data.club_home.title + ' - ' + openedModal.data.club_away.title + '?'"
      (confirmed)="openedModal.submitted($event)"
   >
   </app-confirmation-modal>
</ng-template>
